[2015-05-02 16:18] csadorf opened #1 "Failed conversions are not cached"
**[Original report](https://bitbucket.org/glotzer/signac/issue/1) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Current behavior #

When a conversion fails, no result is cached.
In subsequent queries the conversions is attempted again, as there is no cached result.

# Expected

[2015-05-11 22:07] csadorf opened #2 "Job pulse does not discriminate between projects"
**[Original report](https://bitbucket.org/glotzer/signac/issue/2) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Every job active for any project is displayed in the info screen.

[2015-05-22 14:20] csadorf opened #3 "Use subprocesses instead of threads for job pulse"
**[Original report](https://bitbucket.org/glotzer/signac/issue/3) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The threads are blocked for extended periods of time in combination with hoomd-blue, which makes the assessment of job execution unreliable.

Using separate processes

[2015-05-27 18:57] #2 closed, assigned to nobody

[2015-05-27 18:57] #3 closed, assigned to nobody

[2015-06-05 01:56] csadorf opened #4 "Interrupted jobs should be marked as aborted"
**[Original report](https://bitbucket.org/glotzer/signac/issue/4) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

By interrupting the job queue execution, the status of this particular is undefined.

[2015-06-10 21:17] csadorf opened #5 "Provide better feedback for authorization issues"
**[Original report](https://bitbucket.org/glotzer/signac/issue/5) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The error messages when encountering authorization issues are currently not very helpful and should be improved.

[2015-06-22 21:35] csadorf opened #6 "Job Queue hangs"
**[Original report](https://bitbucket.org/glotzer/signac/issue/6) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The job queue fails to fetch new jobs after exiting a job with an error.

[2015-07-16 02:43] #1 closed, assigned to nobody

[2015-08-12 18:34] csadorf opened #7 "GUI for simple browsing"
**[Original report](https://bitbucket.org/glotzer/signac/issue/7) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

We need a very simple GUI to view database entries. We currently rely on 3rd party tools to browse database entries. This becomes a problem when these 3rd parties do n

[2015-08-12 18:36] csadorf opened #8 "Sphinx Documentation"
**[Original report](https://bitbucket.org/glotzer/signac/issue/8) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The docstring documentation needs to be coherently exposed in sphinx.

[2015-08-27 20:11] csadorf opened #9 "Rename"
**[Original report](https://bitbucket.org/glotzer/signac/issue/9) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

CompDB is the working title for this project.

The framework needs to be renamed to a more permanent name.

[2015-09-01 21:20] #9 closed, assigned to nobody

[2015-09-28 18:35] csadorf opened #10 "Integrate with pass"
**[Original report](https://bitbucket.org/glotzer/signac/issue/10) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Possible solution for users, that use the pass, password manager, instead of storing the password in the config file, we could use the pass password manager.

http://

[2015-10-25 16:29] #7 closed, assigned to nobody

[2015-10-26 18:44] #4 closed, assigned to nobody

[2015-10-26 18:45] #6 closed, assigned to nobody

[2015-10-29 14:01] #8 closed, assigned to nobody

[2015-11-26 17:31] csadorf opened #11 "AttributeError: module 'signac.db' has no attribute 'get_database'"
**[Original report](https://bitbucket.org/glotzer/signac/issue/11) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

This is not a good error message. It should say: please install pymongo!

[2015-11-26 17:42] csadorf opened #12 "Make signac_statepoints human readable"
**[Original report](https://bitbucket.org/glotzer/signac/issue/12) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Would be nice to be able to edit the signac_statepoints.json file manually, as well as be able to read the signac_statepoint.json file.

[2015-11-26 17:51] #12 closed, assigned to nobody

[2015-11-26 18:01] #11 closed, assigned to nobody

[2015-11-29 05:04] #10 closed, assigned to nobody

[2015-12-01 19:53] csadorf opened #13 "signag-gui should support pyqt"
**[Original report](https://bitbucket.org/glotzer/signac/issue/13) by Joshua Anderson (Bitbucket: [joaander](https://bitbucket.org/joaander), GitHub: [joaander](https://github.com/joaander)).**

----------------------------------------

Conda, for whatever reason, only has pyside builds for py27 - yet signac requires py3.

Conda does have pyqt for all versions of python. So we could convert to pyq

[2015-12-02 14:48] csadorf opened #14 "Support for non-compiled regular expressions"
**[Original report](https://bitbucket.org/glotzer/signac/issue/14) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The regular expression crawler's define() class method expects compiled regular expressions. It might be more user friendly to provide the expressions non-compiled.

[2015-12-02 14:50] csadorf opened #15 "Validate state point files and add comments"
**[Original report](https://bitbucket.org/glotzer/signac/issue/15) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The state point files are supposed to be more or less read-only.

We should add a comment on top of those files to ensure that the user is aware of that and in additi

[2015-12-02 16:52] csadorf opened #16 "Error handling of missing find_statepoints/read_statepoints"
**[Original report](https://bitbucket.org/glotzer/signac/issue/16) by Paul Dodd (Bitbucket: [the_real_pdodd](https://bitbucket.org/the_real_pdodd), GitHub: [PaulDodd](https://github.com/PaulDodd)).**

----------------------------------------

More robust error handling should be built around building the manifest and reading state points.

1. the creation of the manifest file needs to be fail_safe

[2015-12-02 20:02] #13 closed, assigned to nobody

[2015-12-03 23:21] #14 closed, assigned to nobody

[2015-12-04 16:11] csadorf opened #17 "Crawler chokes on NaN values"
**[Original report](https://bitbucket.org/glotzer/signac/issue/17) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The crawler tries to account for different number types automatically and will choke when it encounters NaN.

[2015-12-04 16:57] #17 closed, assigned to nobody

[2015-12-13 17:09] csadorf opened #18 "Support environment variables in configured paths"
**[Original report](https://bitbucket.org/glotzer/signac/issue/18) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

It would be advantageous to allow dynamic path configuration for workspaces etc. based on environment variables.

[2015-12-14 19:48] csadorf opened #19 "Creating a configuration with signac-gui fails if no config file exists yet"
**[Original report](https://bitbucket.org/glotzer/signac/issue/19) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

**Issue**

signac-gui will try to write to a config file, but does not  modify the permissions automatically.
This will trigger a permissions error, which needs to be

[2015-12-16 02:15] #18 closed, assigned to nobody

[2015-12-16 02:16] #16 closed, assigned to nobody

[2015-12-16 03:10] #19 closed, assigned to nobody

[2016-01-13 14:04] csadorf opened #20 "Improve gui control"
**[Original report](https://bitbucket.org/glotzer/signac/issue/20) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The gui currently does not support closing or reloading of available collections.

The current work-around is to simply open a new connection or restart the whole app

[2016-01-13 15:42] csadorf opened #21 "write_statepoints inaccurate for statepoints containing floating point values"
**[Original report](https://bitbucket.org/glotzer/signac/issue/21) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `write_statepoints()` function creates a hash table to look up state points from a job id.

The floating point values written to file in JSON format might be nume

[2016-01-13 19:53] csadorf opened #22 "setup on python 2.7 creates warning"
**[Original report](https://bitbucket.org/glotzer/signac/issue/22) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Executing the setup.py on a python2.7 system creates the following warning:
[code]

This does **not** affect the functionality of the package.

[2016-01-18 18:47] csadorf opened #23 "Top-level API"
**[Original report](https://bitbucket.org/glotzer/signac/issue/23) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

This is a proposal for the extension of the **signac** top-level API and the provision of a few handy command line arguments.

## Python
[code]

## Command-line

[cod

[2016-01-27 22:58] #23 closed, assigned to nobody

[2016-01-28 15:36] #22 closed, assigned to nobody

[2016-02-03 21:33] csadorf opened #24 "ImportError: No module named pymongo"
**[Original report](https://bitbucket.org/glotzer/signac/issue/24) by Kyle Huston (Bitbucket: [kyle_huston](https://bitbucket.org/kyle_huston), ).**

----------------------------------------

When installing with pip, pymongo is not automatically installed, but an error is raised if trying `import signac`. This is easily fixed by installing pymongo with pip. Should pymongo be listed in `install_re

[2016-02-07 22:01] #24 closed, assigned to nobody

[2016-02-08 16:01] csadorf opened #25 "find_job_document filters on the job document rather than the statepoint"
**[Original report](https://bitbucket.org/glotzer/signac/issue/25) by Paul Dodd (Bitbucket: [the_real_pdodd](https://bitbucket.org/the_real_pdodd), GitHub: [PaulDodd](https://github.com/PaulDodd)).**

----------------------------------------

I think that this method would make more sense to filter on the document rather than the statepoint since find_jobs and find_statepoints already do this and

[2016-02-12 01:32] csadorf opened #26 "The RegexFileCrawler.define() function modifies globally"
**[Original report](https://bitbucket.org/glotzer/signac/issue/26) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `define()` function modifies the definitions in all `RegexFileCrawler` classes instead of only the inherited ones.

Solution: The `definitions` attribute needs to

[2016-02-12 15:14] csadorf opened #27 "signac-gui does not work with ReplicaSet configurations"
**[Original report](https://bitbucket.org/glotzer/signac/issue/27) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Having replica sets configured in the signac configuration prevents signac-gui from starting.

[2016-02-12 16:39] csadorf opened #28 "Add function to add fields to existing job contexts"
**[Original report](https://bitbucket.org/glotzer/signac/issue/28) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Problem

It's currently not trivial to extend or change the parameter space of existing state points.

# Suggested API

[code]

#  Caveats

I'm using `list()` to en

[2016-02-14 03:30] #26 closed, assigned to nobody

[2016-02-14 03:43] #27 closed, assigned to nobody

[2016-02-14 15:05] csadorf opened #29 "signac-gui concurrency"
**[Original report](https://bitbucket.org/glotzer/signac/issue/29) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The signac-gui blocks on all database operations.

[2016-02-14 22:57] #29 closed, assigned to nobody

[2016-02-15 01:33] #20 closed, assigned to nobody

[2016-02-17 20:05] csadorf opened #30 "tuple versus list in statepoint value of job returned by open_job"
**[Original report](https://bitbucket.org/glotzer/signac/issue/30) by Kyle Huston (Bitbucket: [kyle_huston](https://bitbucket.org/kyle_huston), ).**

----------------------------------------

I found a bug in my project which boiled down to the following:

    import signac
    project = signac.contrib.get_project()
    sp1 = {'a':(1,2)}
    sp2 = {'a':[1,2]}
    with project.open_job(sp1) as job1

[2016-02-17 20:15] #28 closed, assigned to nobody

[2016-02-18 14:33] #30 closed, assigned to nobody

[2016-02-19 14:39] csadorf opened #31 "filter argument to find_statepoints() need to be sanitized"
**[Original report](https://bitbucket.org/glotzer/signac/issue/31) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The filter argument needs to be "json-transformed" before matching to ensure that e.g. tuples and lists are handled in the same way.

[2016-02-20 21:34] #31 closed, assigned to nobody

[2016-03-17 17:45] csadorf opened #32 "Project should be exposed to the signac namespace"
**[Original report](https://bitbucket.org/glotzer/signac/issue/32) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `Project` class is currently in the subnamespace: `signac.contrib.Project`. Users might expect to find this class in the root namespace: `signac.Project`.

[2016-04-13 23:02] csadorf opened #33 "Provide convenience wrapper for filenames"
**[Original report](https://bitbucket.org/glotzer/signac/issue/33) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

A common pattern during analysis is:
[code]
This could be added to the job api:
[code]

[2016-04-14 23:06] csadorf opened #34 "Add open-source license"
**[Original report](https://bitbucket.org/glotzer/signac/issue/34) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The documentation and the source-code is missing consistent licensing information.

[2016-04-16 12:31] #33 closed, assigned to nobody

[2016-04-16 12:35] #32 closed, assigned to nobody

[2016-06-05 14:25] #34 closed, assigned to nobody

[2016-06-15 12:40] csadorf opened #35 "Change to Modified BSD license"
**[Original report](https://bitbucket.org/glotzer/signac/issue/35) by Paul Dodd (Bitbucket: [the_real_pdodd](https://bitbucket.org/the_real_pdodd), GitHub: [PaulDodd](https://github.com/PaulDodd)).**

----------------------------------------

[2016-06-21 15:23] #35 closed, assigned to nobody

[2016-06-21 15:51] #5 closed, assigned to nobody

[2016-06-21 15:52] #15 closed, assigned to nobody

[2016-06-21 15:53] #21 closed, assigned to nobody

[2016-08-06 01:24] #25 closed, assigned to nobody

[2016-08-09 22:28] csadorf opened #36 "Get project handle without changing directory"
**[Original report](https://bitbucket.org/glotzer/signac/issue/36) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Currently there is no designed pattern for getting a project handle with the working directory being outside of the project root directory. However, that may be desir

[2016-08-11 02:21] #36 closed, assigned to nobody

[2016-08-18 15:43] csadorf opened #37 "Improve performance of simple indexing functions"
**[Original report](https://bitbucket.org/glotzer/signac/issue/37) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

In release 0.4.0 we have switched to a more general indexing function which is used consistently in various project functions. The indexing function used is more vers

[2016-08-25 22:52] csadorf opened #38 "ipython notebook html display for jobs"
**[Original report](https://bitbucket.org/glotzer/signac/issue/38) by Anonymous.**

----------------------------------------

Since ipython/jupyter notebook can display html output, I thought it might be nice to display jobs in a table (the same way pandas dataframes are displayed). So I copied an [online example](http://calebmadrigal.com/display-list-as-table-in-ipython-notebook/):

[code]

This

[2016-08-27 21:46] #37 closed, assigned to nobody

[2016-08-31 20:24] csadorf opened #39 "Better error message when using $signac find"
**[Original report](https://bitbucket.org/glotzer/signac/issue/39) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The error message when using invalid JSON in conjunction with `signac find` can be quite cryptic. This could be improved.

For example, the following search using an

[2016-10-26 22:25] csadorf opened #40 "TypeError when accidentally "closing" a Job twice"
**[Original report](https://bitbucket.org/glotzer/signac/issue/40) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

This error occurs when a `Job` instance is used as `contextmanager` and accidentally opened (and closed) twice, like so:

[code]
Such a use case is unusual, but not u

[2016-10-26 23:50] #40 closed, assigned to nobody

[2016-11-01 13:48] csadorf opened #41 "Add conda-receipt to conda-forge"
**[Original report](https://bitbucket.org/glotzer/signac/issue/41) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

We should contribute a conda build receipt to [conda-forge](https://conda-forge.github.io/) as an alternative to distributing conda builds through the Glotzer Group p

[2016-11-04 21:09] csadorf opened #42 "pymongo.errors.AutoReconnect error when using GridFS mirror"
**[Original report](https://bitbucket.org/glotzer/signac/issue/42) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `AutoReconnect` exceptions are currently not handled correctly when using a GridFS instance for file mirroring.

[2016-11-11 20:49] #42 closed, assigned to nobody

[2016-11-21 17:04] csadorf opened #43 "Add "host configuration check""
**[Original report](https://bitbucket.org/glotzer/signac/issue/43) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

There should be an easy way to check a host configuration, such as:
[code]
or even consider to make that check automatically after changing a host configuration.

[2016-12-03 18:34] csadorf opened #44 "Improve view feature"
**[Original report](https://bitbucket.org/glotzer/signac/issue/44) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

* It would be nice if view was working across filesystems (like NFS)
* if a view already exists, 'signac view' should automatically update it
* if there is only a

[2016-12-14 14:21] csadorf opened #45 "Remove implicit ssl dependency"
**[Original report](https://bitbucket.org/glotzer/signac/issue/45) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The ssl package is imported in the connections module, which may lead to an ImportError on systems without ssl library, even when ssl is not used.

See also: https://

[2016-12-15 19:28] csadorf opened #46 "Document MPI particularities"
**[Original report](https://bitbucket.org/glotzer/signac/issue/46) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

When using signac in an MPI setting a few particularities need to be respected to avoid race conditions.

1. Implicit opening of jobs may lead to IO errors when execu

[2016-12-15 19:30] #45 closed, assigned to nobody

[2016-12-21 22:46] csadorf opened #47 "API Improvements for version 0.7.x"
**[Original report](https://bitbucket.org/glotzer/signac/issue/47) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# API Improvement Proposal for signac version 0.7.x

This is a working proposal for various extensions to the **signac** API for the next minor release.
The API is su

[2016-12-29 20:23] #47 closed, assigned to nobody

[2016-12-29 20:37] #41 closed, assigned to nobody

[2016-12-30 19:37] csadorf opened #48 "Deploy for Python 3.6"
**[Original report](https://bitbucket.org/glotzer/signac/issue/48) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

All test and deployment pipelines will need to be updated to include python version 3.6.

[2016-12-31 15:27] csadorf opened #49 "signac looks into home directory first to identify project dir"
**[Original report](https://bitbucket.org/glotzer/signac/issue/49) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

If a workspace and signac.rc exists in the home directory, this supersedes
a local project directory. This behavior can be confusing if the home directory
project

[2016-12-31 18:15] #44 closed, assigned to nobody

[2016-12-31 18:38] #49 closed, assigned to nobody

[2017-01-02 22:49] csadorf opened #50 "Review of Project Reference"
**[Original report](https://bitbucket.org/glotzer/signac/issue/50) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The Project Reference page has received a major overhaul and needs to be reviewed.

To build the documentation:
[code]

[2017-01-04 01:14] #50 closed, assigned to nobody

[2017-01-04 20:45] #46 closed, assigned to nobody

[2017-01-05 14:55] #48 closed, assigned to nobody

[2017-01-05 14:57] csadorf opened #51 "signac statepoint broken"
**[Original report](https://bitbucket.org/glotzer/signac/issue/51) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The latest release (0.7) introduced a bug into the ``signac statepoint`` command:

``NameError: name '_open_job_id' is not defined``

[2017-01-05 15:02] #51 closed, assigned to nobody

[2017-01-10 17:14] csadorf opened #52 "Review tutorial version 0.7.x"
**[Original report](https://bitbucket.org/glotzer/signac/issue/52) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The [online tutorial](http://signac.readthedocs.io/en/latest/tutorial.html) needs to be reviewed with respect to version 0.7.x.

[2017-01-30 21:02] csadorf opened #53 "Improve error message for bad config files"
**[Original report](https://bitbucket.org/glotzer/signac/issue/53) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Using a faulty config file may lead to cryptic error messages.

Minimal example:

[code]

will lead to the following error message:
[code]

[2017-03-14 02:39] #52 closed, assigned to nobody

[2017-03-17 20:25] csadorf opened #54 "AttributeError with signac.export_pymongo() and Python2.7"
**[Original report](https://bitbucket.org/glotzer/signac/issue/54) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Calling `signac.export()` which is delegated to `signac.export_pymongo()` will throw an `AttributeError` on Python 2.7.

[2017-03-19 03:27] csadorf opened #55 "API Improvements and optimization for version 0.8.x"
**[Original report](https://bitbucket.org/glotzer/signac/issue/55) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Proposal

This is a working proposal for various extensions to the **signac** API for the next minor release. The changes focus on the *indexing* component of **sig

[2017-04-10 13:58] csadorf opened #56 "The job.sp interface should support get()"
**[Original report](https://bitbucket.org/glotzer/signac/issue/56) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

This API should be supported:

[code]
which is equivalent to
[code]

Returns the value of `job.sp.a` (`job.statepoint()['a']`) when *a* is part of the state point, ot

[2017-04-14 13:36] #54 closed, assigned to nobody

[2017-04-14 14:12] #53 closed, assigned to nobody

[2017-04-14 14:21] #56 closed, assigned to nobody

[2017-04-14 14:58] #43 closed, assigned to nobody

[2017-04-14 15:07] #39 closed, assigned to nobody

[2017-04-14 15:33] #55 closed, assigned to nobody

[2017-04-19 23:41] csadorf opened #57 "Indexing collections for nested search queries may result in TypeError"
**[Original report](https://bitbucket.org/glotzer/signac/issue/57) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

This error occurs when searching with a nested search query, and the document provides only parts of the nested keys.

Minimal example:
[code]

[2017-04-19 23:52] #57 closed, assigned to nobody

[2017-04-20 21:03] csadorf opened #58 "Command line tool improvements"
**[Original report](https://bitbucket.org/glotzer/signac/issue/58) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

It would be nice if

**1.** The 'signac find' command didn't require JSON syntax on the command line.
Also wildcard support would be awesome. I envision sth like t

[2017-05-08 21:36] csadorf opened #59 "There is no landing / home page"
**[Original report](https://bitbucket.org/glotzer/signac/issue/59) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The package is currently lacking a good homepage, that provides a feature overview and updates about current and future development.

This makes it hard for new users

[2017-05-11 17:47] #59 closed, assigned to nobody

[2017-05-19 02:33] #58 closed, assigned to nobody

[2017-05-26 17:04] csadorf opened #60 "Error with signac find --show"
**[Original report](https://bitbucket.org/glotzer/signac/issue/60) by John Morgan (Bitbucket: [jwrm](https://bitbucket.org/jwrm), ).**

----------------------------------------

I get an error when using the --show option to give human-readable state points. signac find without --show works as expected.

Steps to reproduce:

[code]

Version information (signac was installed via pip):
[code]

[2017-05-28 20:21] #60 closed, assigned to nobody

[2017-05-30 18:11] csadorf opened #61 "Integration of signac-sync"
**[Original report](https://bitbucket.org/glotzer/signac/issue/61) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `signac-sync` tool, currently developed and maintained as part of the [signac-utils](https://bitbucket.org/glotzer/signac-utils) compilation, should be incorporat

[2017-05-30 20:11] csadorf opened #62 "Creation of linked view fails when the state point value is a multidimensional list"
**[Original report](https://bitbucket.org/glotzer/signac/issue/62) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The creation of linked views will fail when one of the state point values is a multidimensional list, *e.g.*, a nested list:

Minimal example:
[code]
Executing this s

[2017-06-21 17:44] csadorf opened #63 "signac executable is not found after installation"
**[Original report](https://bitbucket.org/glotzer/signac/issue/63) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Some Python distributions (especially Mac OS X) will not install the `signac` executable correctly. The `$ python -m signac` should always work after correct installa

[2017-08-14 19:59] csadorf opened #64 "Assigning to nested keys in a job document"
**[Original report](https://bitbucket.org/glotzer/signac/issue/64) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

I would like to use nested keys in a job document. Presently, this does not work as one would expect from "normal" dictionaries. See code snippet below.

[code]

After looking th

[2017-08-20 12:46] #63 closed, assigned to nobody

[2017-08-21 14:17] #62 closed, assigned to nobody

[2017-08-22 14:11] csadorf opened #65 "Proposed API changes and new features (0.8 -> 0.9 -> 1.0)"
**[Original report](https://bitbucket.org/glotzer/signac/issue/65) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

To keep signac's API simple and consistent, we regularly revisit the current API and identify classes and functions that should be changed or removed. To kee

[2017-08-25 13:16] csadorf opened #66 "Collection truncation issue"
**[Original report](https://bitbucket.org/glotzer/signac/issue/66) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

A collection file which is read and written to multiple times will grow in size over time grow, because the associated file is not properly truncated.

The bug went p

[2017-08-25 13:19] #66 closed, assigned to nobody

[2017-09-19 15:16] csadorf opened #67 "Links for signac-flow on Signac Homepage"
**[Original report](https://bitbucket.org/glotzer/signac/issue/67) by Anonymous.**

----------------------------------------

[2017-09-20 14:02] csadorf opened #68 "Views change their order"
**[Original report](https://bitbucket.org/glotzer/signac/issue/68) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

When creating a view with signac --view using python 3.4, the order
of directories gets shuffled everytime the view is recreated, which is confusing. And I would e

[2017-09-22 23:24] csadorf opened #69 "Proposal for a snapshot feature"
**[Original report](https://bitbucket.org/glotzer/signac/issue/69) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

This is a proposal for the implementation of feature that would allow users to generate (shallow/deep) snapshots of one or more job workspace directories and

[2017-09-26 23:00] #61 closed, assigned to nobody

[2017-09-26 23:01] #64 closed, assigned to nobody

[2017-09-28 22:04] csadorf opened #70 "Grouping Jobs"
**[Original report](https://bitbucket.org/glotzer/signac/issue/70) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

I would like to have a "grouping" feature for signac jobs, both for my research and for signac-dashboard visualization. pandas has group-by features in a similar way to databases

[2017-10-04 02:56] csadorf opened #71 "Deprecate either implicit or explicit initialization of jobs"
**[Original report](https://bitbucket.org/glotzer/signac/issue/71) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

In general all jobs require an *explicit* initialization with a call to `job.init()`, however there are two exceptions, where jobs are *implicitly* initializ

[2017-10-06 20:04] csadorf opened #72 "export() function does not properly update with MongoDB collection"
**[Original report](https://bitbucket.org/glotzer/signac/issue/72) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The export function will remove existing entries with the same id when exporting to a MongoDB collection.

Expected behavior is that with two distinct data sets the i

[2017-10-09 15:56] #68 closed, assigned to nobody

[2017-10-09 16:00] #65 closed, assigned to nobody

[2017-10-09 17:10] #70 closed, assigned to nobody

[2017-10-11 17:41] csadorf opened #73 "Filtered views require prefix in front of filter arguments"
**[Original report](https://bitbucket.org/glotzer/signac/issue/73) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

The CLI help indicates that the prefix argument should come *after* the filter arguments.
However, I can only use that together with filters when I first specify t

[2017-10-23 16:47] csadorf opened #74 "Document job.statepoint/job.sp and job.document/job.doc"
**[Original report](https://bitbucket.org/glotzer/signac/issue/74) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Essentially the "Project Data Space" section of the reference documentation needs to be overhauled.

[2017-10-23 16:47] csadorf opened #75 "Document groupby() function"
**[Original report](https://bitbucket.org/glotzer/signac/issue/75) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `groupby()` aggregation functions needs to be documented as part of the reference documentation.

[2017-10-23 16:48] csadorf opened #76 "Document signac schema"
**[Original report](https://bitbucket.org/glotzer/signac/issue/76) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `Project.detect_schema()` and the `$ signac schema` functions need to be documented as part of the reference documentation.

[2017-10-23 16:49] csadorf opened #77 "Documentation for the project document"
**[Original report](https://bitbucket.org/glotzer/signac/issue/77) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The `Project.document` needs to be documented as part of the reference documentation.

[2017-10-24 20:31] csadorf opened #78 "Reorganize Reference Documentation"
**[Original report](https://bitbucket.org/glotzer/signac/issue/78) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

With version 0.9, the overall focus has shifted even more to the project interface.
I think this should be reflected in the reference documentation by a reorganizatio

[2017-10-25 19:00] #77 closed, assigned to nobody

[2017-10-25 19:01] #74 closed, assigned to nobody

[2017-10-29 19:46] #78 closed, assigned to nobody

[2017-10-29 19:47] #75 closed, assigned to nobody

[2017-10-29 19:48] #76 closed, assigned to nobody

[2017-12-19 14:38] #72 closed, assigned to nobody

[2018-01-26 19:11] csadorf opened #81 "Better API for the modification of configuration files"
**[Original report](https://bitbucket.org/glotzer/signac/issue/81) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Modifying global, local, and project config files currently requires the use of low-level API as part of the `common.config` namespace. Manipulating the configuration

[2018-02-20 19:54] csadorf opened #82 "Schema matching is non-deterministic"
**[Original report](https://bitbucket.org/glotzer/signac/issue/82) by Vyas Ramasubramani (Bitbucket: [vramasub](https://bitbucket.org/vramasub), GitHub: [vyasr](https://github.com/vyasr)).**

----------------------------------------

Sometimes when two projects with identical schema are matched signac will determine that they in fact differ. This does not happen consistently, however, and appears

[2018-03-06 03:16] csadorf opened #83 "Search finds non-relevant state points"
**[Original report](https://bitbucket.org/glotzer/signac/issue/83) by Jens Glaser (Bitbucket: [jens_glaser](https://bitbucket.org/jens_glaser), GitHub: [jglaser](https://github.com/jglaser)).**

----------------------------------------

After doing `signac update-cache`, a search returns wrong results:

[code]
.. and so on ..

This pertains to signac 0.9.2

[2018-03-10 00:13] #83 closed, assigned to nobody

[2018-03-13 05:12] csadorf opened #84 "Synchronization via Globus"
**[Original report](https://bitbucket.org/glotzer/signac/issue/84) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

# Proposal
I propose that `signac sync` could be extended to support Globus transfers with endpoint information saved in the project document. @jglaser and I discussed workflows,

[2018-03-14 22:01] csadorf opened #85 "Add new CLI sub command: signac shell"
**[Original report](https://bitbucket.org/glotzer/signac/issue/85) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Proposal

I have the following alias in many of my `.bashrc`-files:

[code]

It makes it easier to quickly launch the Python interpreter and operate on some jobs.

[2018-03-15 18:13] #67 closed, assigned to nobody

[2018-03-24 20:57] csadorf opened #86 "Fork upon import"
**[Original report](https://bitbucket.org/glotzer/signac/issue/86) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# Observed

The signac package issues a process for on import.

# Expected

The signac package should not fork on import.

# Proposed fix

Identify function that is c

[2018-05-02 15:33] csadorf opened #87 "`signac statepoint` keys on the command line should be in a deterministic order"
**[Original report](https://bitbucket.org/glotzer/signac/issue/87) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

[2018-05-02 15:34] csadorf opened #88 "`signac export` should allow users to specify a schema"
**[Original report](https://bitbucket.org/glotzer/signac/issue/88) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

[2018-05-02 15:34] csadorf opened #89 "Documentation should address "what goes into a statepoint" more clearly."
**[Original report](https://bitbucket.org/glotzer/signac/issue/89) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

[2018-07-18 14:01] csadorf opened #90 "The signac shell command should have "signac" in the global namespace"
**[Original report](https://bitbucket.org/glotzer/signac/issue/90) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The interpreter environment launched with `signac shell` should not require an explicit `import signac` to pull `signac` into the global namespace.

[2018-07-19 15:54] csadorf opened #91 "Proposal for an import/export feature"
**[Original report](https://bitbucket.org/glotzer/signac/issue/91) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

This feature is designed to enable users to more easily import existing (non-signac) data spaces into a signac project workspace and conversely export a proj

[2018-07-30 14:08] #85 closed, assigned to nobody

[2018-07-30 14:23] csadorf opened #92 "The example in the Collection docstring is incorrect"
**[Original report](https://bitbucket.org/glotzer/signac/issue/92) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The example provided on how to use the `signac.Collection` class in the class' docstring is incorrect.

https://signac.readthedocs.io/en/v0.9.3/signac.html#signac.Col

[2018-08-07 19:57] csadorf opened #93 "signac view with "job" key"
**[Original report](https://bitbucket.org/glotzer/signac/issue/93) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

The current implementation of `signac view` reduced two jobs to one when one has a state point key `'job'`.

signac version 0.9.3

Code to reproduce:
[code]

[2018-08-08 18:07] csadorf opened #94 "signac searches for configuration in root home directory"
**[Original report](https://bitbucket.org/glotzer/signac/issue/94) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

A user reported that a cluster administrator raised a concern that signac is searching for configuration files within the root user home directory. This apparently tr

[2018-08-13 16:31] csadorf opened #95 "Search functions are not properly documented"
**[Original report](https://bitbucket.org/glotzer/signac/issue/95) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

There are some issues with the documentation that need to be resolved:

 * The option to search jobs by "job.document" with `find_jobs(doc_filter=f`) is not properly

[2018-08-17 21:23] csadorf opened #96 "Proposal: Cross-references of jobs"
**[Original report](https://bitbucket.org/glotzer/signac/issue/96) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

This issue describes a proposed feature which would standardize the way that jobs may be referenced within and between different projects.
One typical use ca

[2018-08-30 15:31] csadorf opened #97 "Combined output from `signac find` and `signac statepoint`"
**[Original report](https://bitbucket.org/glotzer/signac/issue/97) by Tim Moore (Bitbucket: [mootimot](https://bitbucket.org/mootimot), GitHub: [tcmoore3](https://github.com/tcmoore3)).**

----------------------------------------

I often find myself searching for jobs, and wanting to see particular state point variables of the jobs that are found. I currently pipe the output of `signac find` to `

[2018-09-10 18:40] csadorf opened #98 "Collection index does not properly identify by type"
**[Original report](https://bitbucket.org/glotzer/signac/issue/98) by Eric Harper (Bitbucket: [harperic](https://bitbucket.org/harperic), GitHub: [harperic](https://github.com/harperic)).**

----------------------------------------

Currently in the development branch, the collection does not properly differentiate between float and integer:

[code]

Output:

[code]

[2018-09-10 19:27] #98 closed, assigned to nobody

[2018-09-13 14:34] #90 closed, assigned to nobody

[2018-09-13 14:35] #89 closed, assigned to nobody

[2018-09-13 14:54] csadorf opened #99 "Transparent type-casting of numpy types"
**[Original report](https://bitbucket.org/glotzer/signac/issue/99) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

Trying to store values with numpy type currently leads to somewhat confusing serialization errors.
These can be avoided by explicitly casting those to the correspondi

[2018-10-05 14:58] csadorf opened #100 "Create CITATION file"
**[Original report](https://bitbucket.org/glotzer/signac/issue/100) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

We should follow the guidelines of

https://www.software.ac.uk/blog/2016-10-06-encouraging-citation-software-introducing-citation-files

and

https://www.software.ac

[2018-10-06 16:39] #91 closed, assigned to nobody

[2018-10-22 21:45] csadorf opened #101 "signac shell, detect job and set job variable"
**[Original report](https://bitbucket.org/glotzer/signac/issue/101) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

When I'm in a signac job workspace and call `signac shell`, I would really like it to set the `job` variable to be the job whose workspace I am in. I would be happy to implement

[2018-10-23 12:58] #92 closed, assigned to nobody

[2018-10-23 22:09] #93 closed, assigned to nobody

[2018-10-28 21:16] #88 closed, assigned to nobody

[2018-10-30 13:25] #82 closed, assigned to nobody

[2018-10-30 20:59] csadorf opened #102 "Enable reading/writing of gzipped collections"
**[Original report](https://bitbucket.org/glotzer/signac/issue/102) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

This is a feature enables reading and writing to zipped collection files, which speeds up the I/O operation for very large collection files and is currently implemen

[2018-12-09 18:44] csadorf opened #104 "Collection files and JSON"
**[Original report](https://bitbucket.org/glotzer/signac/issue/104) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

Currently collections don't output valid JSON files, just "very close to valid JSON files." Collections use a text file of JSON dictionaries separated by newlines, while a valid

[2018-12-10 00:11] csadorf opened #105 "Proposal for HDF5-based `Job.data` property"
**[Original report](https://bitbucket.org/glotzer/signac/issue/105) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

# About

I propose the addition of a new property for the `Job` class that would enable users to more conveniently store *large* data such as NumPy Arrays and other

[2018-12-14 19:27] csadorf opened #106 "Core API in API docs"
**[Original report](https://bitbucket.org/glotzer/signac/issue/106) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

It seems like the `core` module is not in the API docs at all. Several properties report that they return `JSONDict`s but that class is not linked in the docs. Example: [Job.doc

[2019-01-06 22:05] csadorf opened #107 "readline unsupported on Windows, signac command line fails"
**[Original report](https://bitbucket.org/glotzer/signac/issue/107) by Bradley Dice (Bitbucket: [bdice](https://bitbucket.org/bdice), GitHub: [bdice](https://github.com/bdice)).**

----------------------------------------

It appears that the `readline` package is built-in for Mac and Linux but is not available for Windows. This prevents the `signac` command line utility from running (it fails whi

[2019-01-06 23:28] #107 closed, assigned to nobody

[2019-01-12 17:30] #106 closed, assigned to nobody

[2019-01-12 17:32] #99 closed, assigned to nobody

[2019-01-12 17:39] #86 closed, assigned to nobody

[2019-01-14 20:18] csadorf opened #108 "Implement a `signac.get_job()` function"
**[Original report](https://bitbucket.org/glotzer/signac/issue/108) by Carl Simon Adorf (Bitbucket: [csadorf](https://bitbucket.org/csadorf), GitHub: [csadorf](https://github.com/csadorf)).**

----------------------------------------

The idea is to be able to "get" a job from the local directory. Use cases for example when opening a `signac shell` from within a signac workspace directory.

The ma

[2019-01-31 14:08] csadorf commented on #102
This was implemented on develop.

[2019-01-31 14:08] #102 closed

[2019-01-31 14:09] csadorf commented on #105
This was implemented on develop.

[2019-01-31 14:09] #105 closed

[2019-02-09 00:12] csadorf commented on #108
@bdice I don't think that there is a perfect solution for this within the current conceptual framework, but we might get close to one. What do you think? Should we complete the implementation that you started prior to 1.0 even if there are some ambiguities?

[2019-02-09 11:57] bdice commented on #108
@csadorf Yeah, it would be nice to start from something close to what I wrote (see #118). I think it was working for several (all?) of the cases that I had in mind, though certainly not _all_ the cases that might be possible under the current model.

[2019-02-09 14:48] csadorf commented on #71
@glotzerlab/signac-maintainers I vote to close this issue for good. I think the current approach where both implicit and explicit initialization is possible is fine. What do you think?

[2019-02-09 14:56] bdice commented on #71
@csadorf Sounds good to me.

[2019-02-13 20:25] bdice opened #120 "Chain calls to job methods, specifically `.init()`"
### Feature description

I would like to be able to call `job = project.open_job(statepoint).init()`, which would be possible if `init()` returned `self`. This is related to #71. Other methods that could be chained if desired: `reset_statepoint`, `update_statepoint`, `clear`, `reset`, `move`, `sync`.

### Proposed solution

Make `init()` return `self`.

[2019-02-13 22:44] csadorf commented on #120
This is amazing. I was just about to create this issue **today**. And yes, that is a perfectly reasonable solution!

[2019-02-15 04:13] csadorf commented on #108
Resolved with the merge of PR #118.

[2019-02-15 04:13] #108 closed

[2019-02-15 22:08] csadorf commented on #71
We will keep the current behavior in place.

[2019-02-15 22:08] #71 closed

[2019-02-15 22:12] csadorf commented on #73
This issue can not be fixed as long as we stick to `argparse` for the command line implementation. The only remedy I see is to provide a good example as part of the CLI help documentation.

[2019-02-15 22:14] csadorf commented on #94
I cannot find a reason for this behavior and I don't think it's critical.

[2019-02-15 22:14] #94 closed

[2019-02-15 22:14] csadorf commented on #101
This was implemented as part of PR #118 .

[2019-02-15 22:14] #101 closed

[2019-02-15 23:08] csadorf opened #124 "Revise README to be a bit more appealing"
We should make the README a bit more appealing by adding the logo and such. Similar to the ideas outline [here](https://github.com/glotzerlab/freud/issues/202).

[2019-02-16 03:05] mikemhenry commented on #87
@bdice is this still an issue/problem?  I can't access the OG report. I'm setting up a python2.7 env to test if its a dictionary hash issue.

[2019-02-16 05:35] bdice commented on #87
@mikemhenry I think this issue was just a title, the "OG report" was just empty in the text body. 😉

At first I wasn't able to reproduce the problem, but now I have a working test case:
[code]
It seems that the order of the dictionary keys in `signac statepoint` is based on the order in which the JSON file was written. Of course, dictionaries are order-free, but the underlying representation has a

[2019-02-16 14:47] bdice commented on #100
Related: https://github.com/adrn/CitationPEP

[2019-02-18 14:59] csadorf commented on #120
Resolved with merge of #125 .

[2019-02-18 14:59] #120 closed

[2019-02-18 15:02] csadorf commented on #87
I think making sure that all command line output is deterministic is important so that users can use tools like `grep` and `awk` effectively.

The _statepoint_ itself is never ordered except through implementation-imposed order. This is a purely presentation-related issue.

[2019-02-20 14:48] csadorf commented on #81
We could consider to make `Project.workspace` a property.

[2019-02-20 20:29] csadorf opened #131 "Remove the index argument in Project.find_jobs()"
The index argument has been deprecated for a while and is no longer used.

[2019-02-20 21:48] #95 closed

[2019-02-20 21:48] vyasr commented on #95
Addressed in #130

[2019-02-20 22:19] mikemhenry commented on #87
So the output is deterministic since its in the same order the file was created, but it isn't what someone would expect, do we want to then do a alpha-numeric sort on the keys before printing (I am *not* suggesting we re-order the file)? I'm not sure what sort of performance issues we would run into since every state point will need to be sorted before printing

[2019-02-20 22:27] csadorf commented on #87
You are correct, but I think keys should be ordered for presentation on the command line.

The performance hit should be relatively low, since the bottleneck is the disk-read in the majority of cases. If we are concerned about this, we can add an option that turns key-ordering off, e.g., `--no-sort-keys`.

[2019-02-20 22:49] csadorf commented on #81
I suggest we move this to 1.1, any objections?

[2019-02-20 23:06] csadorf commented on #38
Fixed with merge of #127 .

[2019-02-20 23:06] #38 closed

[2019-02-21 00:48] csadorf commented on #73
Resolved with merge of #132 .

[2019-02-21 00:48] #73 closed

[2019-02-21 17:27] mikemhenry commented on #87
While working on this issue, I noticed that `--pretty` will sort the keys

[code]
as does, _drum roll_ the `--sort` argument

[code]

This code was added in 83bbce50ea3ee50b5a20e9f25fc8be8de52b0922 so I think we are good now?

[2019-02-21 17:35] csadorf commented on #87
Issue was previously resolved.

[2019-02-21 17:35] #87 closed

[2019-02-22 22:12] csadorf opened #134 "The signac shell interpreter should keep a command history"
### Feature description

The signac shell interpreter should pertain a command history on a per-project basis.
Invoking `signac shell` should therefore auto-complete commands based on previous sessions in the same project.

### Proposed solution

We are already using the `readline` module to setup auto-completion, I think it's just a matter of saving the command history as described [here](https:/

[2019-02-25 16:56] csadorf commented on #97
@vyasr Is this resolved?

[2019-02-25 16:57] csadorf commented on #131
Resolved with merge of PR #135.

[2019-02-25 16:57] #131 closed

[2019-02-25 19:19] vyasr commented on #97
I had something, I'll cleanup and push and make a PR.

[2019-02-27 15:21] csadorf commented on #124
We updated the README with PR #128 .

[2019-02-27 15:38] csadorf opened #148 "Incorrect error message when trying to move job across file systems"
### Description

As reported by @rosecers, trying to move a job between file systems using the `job.move()` function fails internally with `OSError: [Errno 18] Invalid cross-device link: `, however signac reports a  `signac.contrib.errors.DestinationExistsError`, because of too coarse exception handling.

### To reproduce

Move a job between different file systems.

### Error output

[code]

### S

[2019-02-27 19:14] csadorf commented on #148
Fixed with merge of PR #149 .

[2019-02-27 19:14] #148 closed

[2019-02-27 22:23] berceanu opened #153 "deep copy not copying data"
[code]
results in changes to the workspace folder, i.e. the removing of parameter 'a' from `signac_statepoint.json`.

[2019-02-27 22:28] csadorf commented on #153
Thank you for reporting! Which Python version are you running?

[2019-02-27 22:34] csadorf commented on #153
@berceanu I'm having trouble reproducing the bug. Can you verify that [this unit test](https://github.com/glotzerlab/signac/pull/154/files#diff-5cbe52c4c7165713f09d3ae38168277eR1394) should trigger the described behavior?

[2019-02-27 23:48] bdice commented on #153
This triggers the confusing behavior:
[code]

[2019-03-01 21:02] berceanu opened #163 "side effects in @cmd operations"
[code]

Expected console output:
[code]

Actual console output:
[code]

The function `_shell_command` is executed, even though `command` is not actually run.

[2019-03-04 21:13] tcmoore3 opened #164 "Surprising type comparisons with $signac find"
### Description

I have a statepoint parameter that has some `int` values and some `decimal` values. When I use `signac find` to find jobs filtering by this parameter, it only returns jobs where both the value and type of the jobs' statepoints match the search parameters. I would expect the behavior to match that of python's `==` operator, e.g., `$signac find x 10` would return jobs where `job.sp.

[2019-03-13 00:03] bdice opened #165 "Use config's signac_version to track schema version for easier migration."
### Feature description

Currently it appears that we have an implied Project config value, `'signac_version': (0, 1, 0)`.
https://github.com/glotzerlab/signac/blob/ba14a1b60c7ba431d8c8e54d6909203248cccca9/signac/common/validate.py#L55

### Proposed solution

We should update the configuration to store the actual version of signac used to create or initialize the project. This will make migrations

[2019-03-13 20:20] zhou-pj opened #166 "full launcher support for Stampede2 with updated template"
### Feature description

improve launcher support for Stampede2

### Proposed solution

Two to-dos:
1. Update template for launcher support to allow jobs queue and run consecutively on limited processors
2. Design ways to activate the use of launcher template.

[2019-03-13 20:22] zhou-pj commented on #166
closed, should be in signac flow

[2019-03-13 20:22] #166 closed

[2019-03-14 14:50] csadorf commented on #104
There has been some debate on how exactly to implement this. The latest decision was to replicate the `pandas.DataFrame` API with respect to JSON export and import as closely as possible. I think that's a good idea, but  please feel free to suggest a deviation if you think you have a compelling reason.

[2019-03-20 02:56] bdice opened #168 "Can't assign dictionaries containing integer keys into job.document"
### Description

I wanted to store a key-value mapping of the form `{1: 'a', 2: 'b'}` into a sub-key of a job document. I incorrectly expected that this would be encodable as JSON. I researched it and found out that JSON only allows string keys. However, the error triggers when checking for dots, and this doesn't seem like the right place. A second problem with silent failure is also confusing.

#

[2019-03-21 12:28] bdice commented on #168
For comparison, [tinydb](https://github.com/msiemens/tinydb/) converts non-string keys into strings by [just using `json.dumps`](https://github.com/msiemens/tinydb/blob/50eee49e392e3be32597c945a62f6210e166d9b2/tinydb/storages.py#L112). This behavior may be preferable to getting errors / data loss, perhaps accompanied by a warning.
[code]

[2019-03-21 13:30] csadorf commented on #168
The behavior that you are seen is unintended and especially your second minimal example is surprising to me. But I don't think that explicit conversion is a good idea.

[2019-03-28 01:35] bdice opened #170 "Improve "dots in keys" error message."
### Feature description

If there's a dot in a key, the error message that shows up makes it really hard to find _where_ the problematic key is located. @rosecers reported challenges with her project because the invalid key was difficult to trace. (Ultimately @csadorf located the invalid key in the project document, not the job statepoints/documents where one might have expected to find it.)

###

[2019-04-01 14:42] vyasr opened #171 "Improve alternative JSON support"
### Feature description

I'm opening this issue to track our discussion about using JSON libraries other than the built-in JSON library. Currently, signac supports rapidjson internally, but we should investigate carefully to determine which JSON libraries are the best alternatives.

### Proposed solution

As a first step, we would want to add benchmarks for the existing support so that we can asse

[2019-04-01 14:45] vyasr opened #172 "Bug in JSON error checking"
### Description

The rapidjson package does not have a `decoder` submodule. Since we don't have a corresponding compatibility layer, things like `json.decoder.JSONDecodeError` fail.

### To reproduce

[code]

[2019-04-12 17:02] #164 closed

[2019-04-24 14:58] bdice opened #178 "Docs version not bumped"
It looks like the Sphinx docs didn't get their version bumped from 0.9 to 1.0.

https://github.com/glotzerlab/signac/blob/master/doc/conf.py#L82

It may be possible to use bumpversion's [file-specific configuration](https://github.com/peritus/bumpversion#file-specific-configuration) for `conf.py` to prevent this from happening in the future.

Or we could just treat `version` and `release` as the s

[2019-04-29 15:06] csadorf opened #179 "Proposal: Short-cut for opening an H5Store in read-only mode."
### Feature description

I use the following code segment **very** often:

[code]

### Proposed solution

I would like to implement some kind of short cut for that to avoid the reptition, something like:

[code]

_I'm not sure that this is the optimal API for this, since it is pretty cryptic._

### Additional context

Opening HDF5-files in read-only mode for reading is important, because it minimi

[2019-04-29 22:31] vyasr commented on #179
I'm fine with introducing some sort of API for this. I can brainstorm on what would be nice.

To be safest and to best match with the internal Python API, should we maybe change the default to read-only? In Python, `open(fn)` is read-only by default. This would have to wait since it's a breaking change, but in keeping with our general efforts to preserve data integrity that might make sense.

[2019-04-30 18:47] csadorf commented on #179
👍

Read-only by default might be better, however than we need to have a similar short-cut for write-access. It's also a bit annoying, because some convenience API, such as storing (and modifying) pandas DataFrames requires mutable access, even when you are just reading it.

[2019-05-01 14:26] vyasr commented on #179
Coming up with a nice API for this is hard. The best I've come up with is implementing various modes like: `job.data.read`, `job.data.write`, `job.data.readwrite`, etc, which is similar to what you suggested, just more explicit. An alternative is implementing a separate method in the `job` namespace, e.g. `job.read_data()` and `job.read_store($STORE_NAME)`. We could also implement separate context

[2019-05-01 16:02] csadorf commented on #179
I think the problem mainly occurs when running jobs and gathering a status at the same time. I always run into file locking issues, which is why I usually turn the HDF5 file locking off with `HDF5_USE_FILE_LOCKING=FALSE` (see [here](https://forum.hdfgroup.org/t/turn-off-file-locking/3809/5)).

Opening the file multiple times without locking requires opening them in read-only mode to avoid corrupti

[2019-05-04 16:29] csadorf commented on #97
Resolved with merge of PR #146 .

[2019-05-04 16:29] #97 closed

[2019-05-04 16:44] csadorf commented on #179
@vyasr @bdice How would you feel about the option to change the default behavior with some kind of config or environment variable? We could even check the value of `HDF5_USE_FILE_LOCKING` and advise the user to make that change based on its value.

[2019-05-04 16:45] csadorf commented on #179
It would mean that program behave differently when executed in different environments. Maybe that's a terrible idea...

[2019-05-04 17:22] bdice commented on #179
I think I would prefer to see the signac config used instead of environment variables, if that makes sense for this use case.

[2019-05-05 15:14] vyasr commented on #179
I agree that I would prefer using signac config variables, I think that would be OK.

[2019-05-05 15:55] csadorf commented on #179
I'm no longer convinced of using either environment or configuration variables to change the default opening-mode. In either case, the behavior of the program is changed in a substantial manner based on *where* it is executed. That is an invitation for the introduction of extremely hard to find and possibly dangerous bugs.

Examples for critical bugs:
 1. Defaulting `mode='r'` and then using `OSEr

[2019-05-06 16:02] vyasr commented on #179
The other possible use case I could imagine would be the `keys` method of `DictManager`. However, the primary use-case I would imagine there would be testing for membership; currently the `H5Store` class handles that, but not the `DictManager`. I think opening the file is probably the most natural option for `__call__`, though.

[2019-05-06 16:11] csadorf commented on #179
I don't think I fully understand your possible alternative use case, could you provide a minimal example?

[2019-05-06 16:16] bdice commented on #179
Another possibility is that calling `job.data()` returns a copy of the entire file as a dict, just as `job.sp()` returns a copy of the statepoint. I don't think this is very useful, though. I support aliasing `open()` with `__call__()` if you think it's helpful.

[2019-05-06 17:00] vyasr commented on #179
I think that the behavior that would be **most** intuitive to me would be: `job.data.keys == job.data()`. However, I don't think that everyone else will think that way, and aliasing `__call__` to `open` is also reasonably intuitive and something easy to get used to. Neither Bradley's suggestion nor mine is as useful as aliasing `open` since mine reduces fewer keystrokes and Bradley's use case is e

[2019-05-06 17:34] csadorf commented on #179
While it seems that we are on the same page concerning the aliasing, I'm very confused as to why you would find `job.data.keys == job.data()` intuitive. The standard way to get a view or list of keys in Python is `.keys()` with the object itself presenting as an iterable that overloads said function: `keys = list(job.data)`. I don't think I have ever seen an example where the call-operator was ove

[2019-05-07 00:42] vyasr commented on #179
I tried to help clarify it with my emphasis in the last comment, but apparently I just made it more confusing 😂. Here's how I explained my view to Bradley: I don't think there is any intuitive behavior for `job.data()`, I wouldn't expect it to do anything *a priori*. What I meant with my previous comment was that, If I was told that it did something and I had to guess, my best guess would be that

[2019-05-07 00:48] csadorf commented on #179
Got it. 👍

[2019-05-10 14:33] bdice opened #184 "Error when storing NumPy arrays in job document."
### Description

Trying to save a NumPy array to the job document fails after loading the job document back (e.g. when adding another key or printing its contents).

### To reproduce

[code]

### Error output

[code]

### System configuration

Please complete the following information:

 - Operating System: Linux-4.4.0-17134-Microsoft-x86_64-with-debian-buster-sid
 - Version of Python: 3.6.8 |Anac

[2019-05-10 14:36] bdice commented on #184
I tried this with signac v0.9.0 and got a different error, which is more clear:

[code]

[2019-05-10 14:44] bdice commented on #184
The behavior changed with this pull request:
https://bitbucket.org/glotzer/signac/pull-requests/71/feature-transparent-type-cast-of-numpy/diff

At commit 127dc902d2194fd2b1f1a10f2255c19c275f6abb, the error is `ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`.

At commit 29f1272c7a3c1bbd8c194dafe18a6922b3735e30, the error is `TypeError: Object

[2019-05-11 17:51] bdice commented on #184
I found that this problem does not appear if the job is opened again before reading the job document. In other words, this fails:

[code]

But this succeeds since it opens the job again:

[code]

[2019-05-11 18:33] bdice opened #186 "ResourceWarning issued from unclosed file with Collection parse errors."
### Description

I noticed in the test output that there is an unclosed file when a parse error occurs while reading a Collection. In my understanding, the file is not closed because `collection._file` is never assigned, meaning that exiting the Collection's context doesn't actually close it.

[code]

[2019-05-14 15:18] #186 closed

[2019-05-14 19:21] #184 closed

[2019-05-19 19:02] csadorf opened #191 "Using get_project() with a relative path and search=False fails"
### Description

Using the `signac.get_project()` or `signac.Project.get_project()` functions with a relative path and `search=False` argument fails even if the path contains a valid project configuration.
### To reproduce

[code]

### Error output

[code]

### System configuration

[code]

[2019-05-19 22:12] csadorf commented on #191
Resolved with merge of PR #192 .

[2019-05-19 22:12] #191 closed

[2019-05-19 22:13] csadorf commented on #178
Fixed with release of version 1.1.0.

[2019-05-19 22:13] #178 closed

[2019-05-20 15:54] bdice opened #196 "_SyncedList dictionary children should be _SyncedDicts"
### Description

I was editing a job document. When getting a list that is a child of a `_SyncedDict`, you get a `_SyncedList`. However, when getting a dict that is a child of a `_SyncedList`, you don't get a `_SyncedDict` (just a `dict`).

### To reproduce

[code]

[2019-05-21 15:55] csadorf opened #197 "Use more compact schema for root directory files"
Based on feature usage, the project root directory currently contains a number of special files. Some of them are hidden, some are not.

- signac_project_document.json
- signac.rc
- .signac_sp_cache.json.gz
- .signac_history.txt

As suggested by @vyasr we may want to switch to a more compact storage format, for example by bundling all files within a `.signac` folder.

[2019-05-22 13:30] csadorf commented on #134
Resolved with merge of PR #194 .

[2019-05-22 13:30] #134 closed

[2019-05-26 19:24] bdice commented on #172
Seems this was addressed in rapidjson here:
https://github.com/python-rapidjson/python-rapidjson/commit/8c1f7647c2430857f31724d1d219533f662f9ca9
https://github.com/python-rapidjson/python-rapidjson/issues/118

...and released about two weeks ago: https://github.com/python-rapidjson/python-rapidjson/blob/master/CHANGES.rst

Good things come to those who wait! That makes solving this issue a bit cle

[2019-05-28 14:30] vyasr commented on #168
A first pass at this would just involve at least making the errors more descriptive. But beyond that, what do we think is the correct behavior? Just write integer keys as strings, with some warning that such keys are converted? That would also cause problems when accessing the keys of a SyncedDict, though; what would be the expected result of `job.doc[1]` vs `job.doc["1"]`?

[2019-05-28 14:32] vyasr commented on #104
@bdice are you still interested in taking this on?

[2019-05-28 16:00] xadams commented on #104
Sorry for the delay, have been busy with prelim prep and wrapping things up
before Heather's departure. I am planning to spend this Thursday working on
it, but will hand it over if it the need is more urgent.

On Tue, May 28, 2019 at 10:32 AM vyasr <notifications@github.com> wrote:

--
University of Michigan, Ann Arbor
Ph.D. Candidate - Mayes, Glotzer Labs
College of Engineering - Chemical Enginee

[2019-05-28 16:00] bdice commented on #168
@vyasr I think you're right, just warn the user that non-string keys are converted. `job.doc[1]` and `job.doc["1"]` should return the same thing - we would convert keys and warn when setting *and* getting.

[2019-05-28 16:02] bdice commented on #168
But @csadorf doesn't think implicit conversion is good - I can accept that and I'm fine with rejecting "implicit" conversions and continuing to throw errors in cases like the first one, just with a better message. The biggest problem is case 2 above, where no error was thrown.

[2019-05-28 16:27] bdice commented on #104
@xadams That would be awesome - I did some reading on the pandas `DataFrame` API and this is what we would shoot for (this is approximate / pseudocode):

[code]

[2019-05-28 17:10] vyasr commented on #168
Right, so I would advocate for the second example to just throw an error, for starters. Making that change is critical. Then we can discuss the appropriate casting behavior; I might be OK with implicit conversion, but it would have to be very noisy. I have the same concerns Simon likely has about that, so I'm also OK with not supporting implicit conversion if we think making it a very noisy conver

[2019-05-28 19:00] bdice commented on #171
[This article](https://artem.krylysov.com/blog/2015/09/29/benchmark-python-json-libraries/) is from 2015 but discusses some alternative libraries.
I ran the benchmarks from this on my Mac: https://github.com/akrylysov/python-json-benchmark

I also investigated newer alternatives (simdjson, hyperjson) but found none that were _stable, simple to install, and matched the `json` API_.

The results bel

[2019-06-07 14:57] csadorf commented on #171
Looks like `ujson` is the right choice. I think moving forward we should probably introduce a configuration that enables the user to specify which library to use instead of just relying on "what can we import".

[2019-06-27 21:24] dgasmith commented on #171
You should also check out [orjson](https://github.com/ijl/orjson) depending on use case.

[2019-06-28 00:49] bdice commented on #171
@dgasmith Good call! Here is an updated plot. I recommend that we choose the optimal case for the "small" data, which has a size range that is similar to most `signac` statepoints and job documents. It's probably a choice between `orjson` and `ujson`.

![image](https://user-images.githubusercontent.com/3943761/60309557-668a8980-991c-11e9-8d7a-bc351873126e.png)

[2019-07-03 17:39] #172 closed

[2019-07-05 15:25] #69 closed

[2019-07-05 15:26] csadorf commented on #179
I don't think the need for a shortened API is pertinent as I anticipated when I originally created this.

[2019-07-05 15:26] #179 closed

[2019-07-05 15:29] csadorf commented on #104
Resolved with merge of PR #200 .

[2019-07-05 15:29] #104 closed

[2019-07-05 15:30] csadorf commented on #100
We have a CITATION.cff file.

[2019-07-05 15:30] #100 closed

[2019-07-07 19:07] csadorf commented on #168
@bdice I'm unable to reproduce your second example:
[code]

With respect to the overall problem: I ran a few tests and found that we are currently doing an implicit conversion when assigning a dict with non-string keys to either `sp` or `doc`. In order to maintain backwards-compatibility, I'll enable the exact same behavior when assigning non-string keys. We can opt to show a user-warning if we fe

[2019-07-08 01:10] vyasr commented on #168
I can confirm what you found:
[code]

So we should probably also do an implicit conversion for nested keys. I don't feel strongly that a warning is needed, but perhaps it should be mentioned in the documentation [here](https://docs.signac.io/en/latest/jobs.html#the-job-document).

[2019-07-15 18:27] ninamillik opened #208 "view function regression in latest version"
### Description

"...there appears to be a regression affecting the view function in the latest version." per @csadorf  in the Gitter signac lobby

### To reproduce
[code]
`$ python3 init.py`
`$ signac view`

### Error output

`Error: <lambda>() takes 1 positional argument but 2 were given`

### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: Cen

[2019-07-15 18:48] bdice commented on #208
Thanks for the bug report, @ninamillik! I can reproduce the problem. `project.create_linked_view('myview')` appears to work for me, so I think this may be a CLI issue.

@ninamillik If you want a quick fix, try running `signac shell -c "project.create_linked_view()"` from the project root directory.

[2019-07-16 03:40] #168 closed

[2019-07-16 16:10] ninamillik commented on #208
Thank you! `signac shell -c "project.create_linked_view()"` worked perfectly!

[2019-07-17 14:12] csadorf commented on #170
Fixed with merge of #205.

[2019-07-17 14:12] #170 closed

[2019-07-17 16:38] csadorf opened #209 "Schema fails for non-sortable values within lists"
### Description

The schema detection fails when the data space contains jobs with state point values **within a list or tuple** that are not comparable, *i.e.*, trigger a `TypeError` on comparison.

### To reproduce

[code]
### Error output

[code]
### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: macOS
 - Version of Python [e.g. 3.7]: 3.7.2

[2019-07-19 15:20] csadorf commented on #209
Fixed with merge of #210 .

[2019-07-19 15:20] #209 closed

[2019-07-19 17:16] csadorf commented on #153
After looking more closely at this issue, we have come to the conclusion that it actually makes most sense that a copy or a deepcopy will still modify the underlying state point and thus job albeit operating on a different in-memory reference. That is because a state point and a job for that matter are directly tied to a specific location on the file system and that doesn't change just because we

[2019-07-19 17:16] #153 closed

[2019-07-19 17:19] csadorf commented on #208
Quick update: It turns out that this issue is actually more related to the fact that the workspace had only one job. We have created a patch (PR #211 ) that should resolve this problem and will be released as of version 1.2.

[2019-07-19 19:02] #208 closed

[2019-07-24 18:52] csadorf opened #212 "Proposal: Adopt the `pytest` library for testing"
# Proposal

I propose to adopt the `pytest` library as the main testing framework as a replacement for the Python built-in `unittest` package.

# Pros
* Writing tests is easier.
* The pytest command line tool is easier to use and more powerful.
* The pytest output is much more descriptive.

# Cons
* We add a dependency to the testing workflow.

# Migration

Adopting `pytest` as the main testing fr

[2019-07-24 18:53] csadorf commented on #212
@glotzerlab/signac-maintainers @mikemhenry I'd like your opinion on this.

[2019-07-24 21:28] bdice commented on #212
Pytest is nice, but I'd consider the development time / maintenance costs of rewriting tests / potential benefits before diving in.

[2019-07-25 13:15] csadorf commented on #212
That's why I'm putting this up for debate. I don't think there are any major transition costs, since we don't have to rewrite any tests at all. I'd argue that maintenance will go down, since writing new tests will be simpler.

If at all, we just use automated tools to rewrite tests, but we probably need to make a few manual adjustments.

[2019-07-25 14:26] vyasr commented on #212
Bradley and I have discussed this possibility before for freud. Pytest is nice, but I haven't felt that the benefits merited the extra dependency. It does make writing new tests a bit shorter, but at this point writing tests with unittest just involves copying the boilerplate from another test, so it's basically zero effort. I don't think that rewriting our existing tests to use the pytest framewo

[2019-07-25 22:28] klywang opened #213 "`signac view` fails when statepoints contain forwardslashes"
### Description

`signac view` cannot create folders when statepoints contain forward slashes (ie, if a statepoint value is '/oasis/scratch/some_file.txt')

### To reproduce

`signac view`

Example of statepoint:
 `{'pot_file': '/oasis/scratch/path/to/file/some_file.out'}`

### Error output

Error: [Errno 13] Permission denied: '/oasis'### System configuration

Please complete the following inform

[2019-07-25 22:45] vyasr commented on #213
I think the proper behavior here is to just throw a more descriptive error message. Right now it just gives a permission denied error in this case, we should at least change it to raise an Exception that informs the user why it doesn't work. I don't think that this is necessarily something that we should support, because it would require modifying the values to avoid containing file separators.

[2019-07-26 13:48] csadorf commented on #213
I agree that adding a more descriptive error message and potentially suggesting a work-around is the way to go. We have been pretty liberal about what a state point key and value may contain as long as it is JSON-encodable and issues like that are kind of bound to happen.

My suggested solution is to explicitly check for `os.sep` in keys and values and simply error out. A potential work-around is

[2019-07-26 13:51] csadorf commented on #171
Another project to watch with respect to this issue: https://github.com/lemire/simdjson

[2019-07-26 14:30] bdice commented on #171
My benchmark code doesn't work for simdjson. I'd prefer to stick to packages that explicitly implement all of the features in `json` that we use. The error is described in https://github.com/TkTech/pysimdjson/issues/20

## Other possible compatibility issues to watch out for / test carefully:

### Numerical precision
[code]
(This is configurable.)

### Non-ASCII Characters
[code]

### Datetime obj

[2019-07-26 14:45] csadorf commented on #171
Oh, that is good to know! The built-in JSON package will serialize floating point numbers to whatever precision necessary for an accurate representation.

We should probably add unit tests for all of these types before enabling or switching to any other back-end.

[2019-07-26 15:17] bdice opened #214 "signac view doesn't work on Windows"
### Description

When calling `signac view` on Windows, an `OSError` is raised because users typically do not have permissions to create symbolic links on Windows (only administrators have this ability by default). This is discussed in this StackOverflow post: https://stackoverflow.com/questions/6260149/os-symlink-support-in-windows

### To reproduce

`signac view`, or

[code]

### System configur

[2019-07-26 15:17] dgasmith commented on #171
Depending on the structure of your data you can also consider msgpack. Very useful for array structures.

[2019-07-26 16:49] klywang commented on #213
@csadorf Yeah that sounds good!

[2019-07-26 19:47] csadorf commented on #214
Since symbolic links are not supported on Windows, the only thing we can really do is show a better error message or explicitly check the platform. I wouldn't know how to support views without symbolic links, but I'm open to suggestions.

[2019-08-09 01:02] tcmoore3 opened #217 "Schema fails when unhashable values within lists"
### Description

When statepoints contain values that are lists containing `dict`s, a `TypeError` is raised when `detect_schema()` is called on the project.

### To reproduce

[code]

### Error output

[code]

### System configuration

Please complete the following information:

 - Operating System: macOS 10.13.6
 - Version of Python: 3.5.5
 - Version of signac: 1.2.0

[2019-08-09 01:07] tcmoore3 commented on #217
A `TypeError` is also raised if a value contains a `set` within a `list`, but not if the value contains a `list` within a `list`.

[code]
[code]

[2019-08-09 10:32] vyasr commented on #217
@tcmoore3 you're tearing me apart

[2019-08-09 18:26] #217 closed

[2019-09-02 01:29] csadorf commented on #214
This is related to #213 .

[2019-09-03 23:23] mikemhenry commented on #213
Just to clarify the behavior we want:
paths are okay in state points but will prevent view from working (with a helpful error message)

[2019-09-03 23:31] mikemhenry commented on #212
I need to re-adjust my github notification settings...

I really like `pytest` but don't have much experience with `unittest` so I don't really have much comparison information to add and I'm sure if I talk about how useful the test parameterization is and how its easy to monkey patch, the response will be "but `unittest` does that too.

I don't care that its not in the standard library, but I don

[2019-09-04 04:26] vyasr commented on #213
Yes, I think that's the best option. We could potentially disallow them in 2.0, but I don't think it's necessary since it only causes problems for views.

[2019-09-04 14:12] bdice opened #224 "`Project.check` function doesn't use `job_ids`"
The `Project.check` function doesn't use its argument `job_ids`.

[2019-09-06 14:16] bdice opened #227 "Refactor internal use of deprecated `Project.get_statepoint`"
The `Project.get_statepoint` function is deprecated but used internally. This should be refactored.

_Originally posted by @csadorf in https://github.com/glotzerlab/signac/pull/220_

[2019-09-23 11:46] phmalek opened #230 "API command `sync` doesn't identify the `schema` correctly"
### Description

calling `sync` to synchronize dst project with src, a warning arises, that the schemas differ, although they seem to be the same (statepoint files are attached
[signac_statepoints_src.txt](https://github.com/glotzerlab/signac/files/3641944/signac_statepoints_src.txt)
[signac_statepoints_dst.txt](https://github.com/glotzerlab/signac/files/3641949/signac_statepoints_dst.txt)

).

##

[2019-09-24 15:44] csadorf commented on #230
@phmalek Thank you for reporting! We'll try to have a look at this as soon as possible. In the meantime, you should be able to use `--force` to override this warning. Please let us know if this is a blocker for you work. Thank you!

[2019-10-24 18:40] vyasr opened #234 "Calling `_SyncedDict.values()` gives `dict` objects"
### Description

Calling standard `MutableMapping` methods (`keys`, `values`, etc) on `_SyncedAttrDict` objects modifies the underlying dictionary in place. This behavior is unexpected, such an operation should only affect the returned value.

### To reproduce

[code]

There is an open question of whether `job.sp.values()` should return nested dictionaries as `SyncedDict` objects or normal `dict`

[2019-10-29 09:22] mliiv opened #237 "Subsetting data based on metadata & mixed species samples"
Hi,

I have pooled hg19 + mm10 scATAC-seq data, 10X, CellRanger v3 output. Wanted to run signac MergeWithRegions for two different samples, made with same method. Since the data is mixed-species, I have genome version appended to peak names where "_" is replaced with "-" during CreateSeuratObject (peak names e.g. hg19-chr1:10384-10479 & mm10-chr1:10384-10479). So now the "hg19-" and "mm10-" in pea

[2019-10-29 14:10] vyasr commented on #237
Hi Maria, I think you've posted in the wrong signac repository. It looks like what you want is [timoast/signac](https://github.com/timoast/signac). Good luck!

[2019-10-29 15:12] #214 closed

[2019-10-31 22:54] bdice opened #238 "Proposal: Lazy statepoint loading"
### Feature description

I am experimenting with refactoring statepoint loading to be lazy. Currently, `project.open_job()` is called on every job during a `flow run` command, which causes the statepoints to be loaded. However, the statepoint information isn't even used in many cases. This may be a case where signac is executing unnecessary I/O (which is costly for large projects like the ones I'm

[2019-11-06 20:58] zhou-pj opened #240 "Different arithmetic operator syntax for 'not equal to' in documentation"
### Description

The documentation shows a different arithmetic operator syntax for not equal to($neq) in collection that seems to be a typo.
code location: signac/contrib/collection.py
documentation links:
https://docs.signac.io/projects/core/en/latest/api.html#signac.Collection.find
https://docs.signac.io/en/latest/query.html#operator-expressions

[2019-11-06 22:48] vyasr commented on #213
Resolved by #233.

[2019-11-06 22:48] #213 closed

[2019-11-07 08:25] csadorf commented on #240
Yes, that's a typo. Any committer may fix this without PR.

[2019-11-07 08:27] csadorf commented on #240
Fixed on master.

[2019-11-07 08:30] #240 closed

[2019-11-07 08:30] csadorf commented on #240
@zhou-pj Thank's for noticing and reporting!

[2019-11-18 15:09] vyasr opened #242 "Duplicate docstrings between related classes and functions"
### Feature description

#235 follows a recurring theme where lack of duplication in the documentation leads to confusion because it's not always clear to users how the documentation of different classes/functions is linked or why. We should explore better ways to share docstrings without actually duplicating (which would increase maintenance costs and the chance of erroneous docstrings if we miss

[2019-11-18 23:14] bdice commented on #242
1. `__doc__` modification works fine with Sphinx.
2. Using the `include` directive would make docstrings useless on the command line. I use `help()` frequently and would prefer not to rely on rST directives.

[2019-11-22 15:48] bdice commented on #81
@vyasr I think this is superseded by #246? If so, please close.

[2019-11-22 19:15] vyasr commented on #81
Yes, I don't want to close until that PR is merged but will do so until it is.

[2019-11-22 19:40] atravitz commented on #224
just looked at this and `Project.check()` no longer takes `job_ids` as an argument.

[2019-11-22 19:40] #224 closed

[2019-11-25 18:47] atravitz opened #248 "signac diff"
### Feature description

Add the functionality to call `signac diff` to compare two or more state points. This could also be extended to comparing files, job docs, etc.

### Proposed solution

partially solved at #247

### Additional context

Any input from @bdice @csadorf @vyasr @b-butler @mikemhenry is very welcome!

[2019-11-26 14:59] csadorf commented on #248
@atravitz Could you outline the proposed API both on the Python and the CLI level?

[2019-11-26 16:49] vyasr opened #249 "Proposal: Unify dict classes and improve buffering and synchronization"
Tl;dr: We need to improve synchronization and caching logic, and I think the first step is to combine the `_SyncedDict`, `SyncedAttrDict`, and `JSONDict` classes.

I apologize in advance for the lengthy nature of this issue. This issue will serve as a pseudo-signac Enhancement Proposal, I'll try and document very thoroughly and it can be a test case for the utility of such proposals :)

In view of

[2019-11-27 09:25] csadorf commented on #249
The class hierarchy reflects the subtly different responsibilities needed to implement the job-document and job-statepoint interfaces. While I don't think that the hierarchy is wrong, I understand that the organization with multiple and diamond inheritance is hard to penetrate and that refactorization towards simpler relationship would likely be beneficial.

I am therefore in principle not against

[2019-11-28 22:48] #81 closed

[2019-11-29 21:26] atravitz commented on #248
CLI usage:
`signac diff {job_ids}` where `{job_ids}` is any number of signac job_ids

returns: pretty-printed job ids, each with dictionary of the job's unique state points (the state point minus the intersection of all the state points of the jobs passed in)

python:
`diff_jobs(*jobs)`where `{jobs}` is any number of signac jobs

returns: a dictionary where keys are state point ids and values are

[2019-12-02 01:18] bdice commented on #248
@atravitz I think this is a good API proposal. I may be slightly biased because we discussed some of this already, so it would be great to get feedback from others.

[2019-12-02 17:52] vyasr commented on #249
I'm fine with implementing these new versions in a separate package, I agree that it would be beneficial.

I completely agree that some of this is addressed by the signac 2.0 prototype. My primary concern with signac 2.0 was that since the changes were dramatic enough that we were considering rewriting the codebase from the ground up and then introducing compatibility layers, we ran the risk of en

[2019-12-03 21:00] bdice commented on #248
@atravitz Could you expand on the API concept a little bit? I have a few things in mind:

1. What flags / arguments are supported for the command line `signac diff`? Is this list exhaustive or are there other flags we should consider adding? Some flags might complicate the design, e.g. diffing all jobs that match a filter, which I can't remember if this PR supports already.
2. We don't need to imp

[2019-12-03 22:46] bdice opened #251 "Commas in project names cause unexpected errors"
### Description

I was creating a signac project named `oP6-As2(Co,Ni,Fe)_r`. This is problematic because the commas are not understood by the configuration parser.

### To reproduce

[code]
or
[code]

In both cases, a file `signac.rc` is created with the contents:
[code]

The project name is misinterpreted as a list:
[code]

### System configuration
 - Operating System: macOS
 - Version of Python

[2019-12-03 23:00] bdice commented on #251
The configuration is created by hand, instead of using a `Config` or `ConfigObj` object. I suspect a similar problem could occur with workspace directories and other fields.

https://github.com/glotzerlab/signac/blob/38a31f96c91b8ebc3dc7674935c24b7ec0547bce/signac/contrib/project.py#L1461-L1467

[2019-12-04 02:20] atravitz commented on #248
CLI usage:
signac diff {job_ids} where {job_ids} is any number of signac job_ids
If no job_ids passed, the diff will operate on the entire project.
--filter, -f : only diff jobs matching this state point filter
--sort, -s: sort the state point keys for output (I still need to add this)
--pretty : print results in pretty format, an optional argument to this flax specifies the max depth a state poin

[2019-12-04 14:42] csadorf commented on #249
I've talked to @bdice about this and he had some concerns that it would increase our maintenance burden too much. I'm coming around to his view point and also think it's not a huge problem to delay such a split, because we can always do that in subsequent releases without harm.

I agree that a complete rewrite of the code base would require too much effort, so implementing these improvements in st

[2019-12-04 17:05] bdice commented on #165
@csadorf Does this still make sense to include? I think that versioning our _schema_ is a better solution in the long term than versioning signac.rc by the package version.

[2019-12-04 17:06] csadorf commented on #165
Yes, it should be the schema.

[2019-12-04 17:08] bdice commented on #165
@csadorf So is the name supposed to be `signac_version` or `signac_schema_version`?

During project initialization, do we just add a field `config['signac_schema_version'] = [0, 1, 0]`?

[2019-12-04 17:10] csadorf commented on #165
Yes, I think we should add that and also check compatibility assuming semantic versioning. So, there should be a warning if we are operating on a newer version and it should fail if the major version is newer.

[2019-12-04 17:36] vyasr commented on #248
Do we have a sense for how slow the diff is to compute? If it's very slow for large projects, we might want to make users explicitly specify `--all` or something to avoid accidentally calling a diff on a 1e5 job project that never finishes.

I think that it makes a lot of sense to put most of the logic into a `diff_mapping` (or whatever name) function that performs this diff on any object that sat

[2019-12-05 13:47] csadorf commented on #248
@atravitz What is usually helpful in working out an API is to compile a few relevant user stories and then provide examples how these would be realized. Here are two examples of previous proposals where we did exactly that:

1. [The import/export API](https://github.com/glotzerlab/signac/issues/91)
2. [The cross-reference API](https://github.com/glotzerlab/signac/issues/96)

The proposal does not

[2019-12-06 14:05] #251 closed

[2019-12-10 02:33] atravitz commented on #248
Here's a short proposal following a similar structure (thanks for the examples, I wasn't quite sure how to articulate):

# About
This feature will allow users to quickly compare multiple jobs (and potentially projects) to determine the key/value pairs that differ between the jobs. This can be used for quick checks on the command line, or as part of a workflow on the python level.

### Use Cases th

[2019-12-10 10:11] csadorf opened #254 "Support and deploy for Python 3.8"
https://docs.python.org/3/whatsnew/3.8.html

I think it would be important to have a release version that officially supports Python 3.8 and also deploy for it.

[2019-12-12 17:54] vyasr opened #268 "Add mapping from a dictionary with dotted keys to a nested dictionary"
### Feature description

We should write an internal function to convert dictionaries with dotted keys e.g. `{'a.b': 'c'}` to `{'a': {'b': 'c'}}`. We currently have the reverse functionality implemented for Collections. This feature is also partially implemented in a few parts of the code, so we should generalize them and centralize the code.

### Proposed solution

Ideally this would be a simple

[2019-12-13 03:45] bdice opened #257 "Update logos"
I need to update the logos and documentation template for the v1.3 release. This issue is just to make sure I get that done.

[2019-12-13 19:19] bdice opened #259 "codecov on Python >= 3.8 fails"
There is a problem with running `codecov` on Python 3.8. For now, I'm only running codecov on Python < 3.8.

Failed test log: https://circleci.com/gh/glotzerlab/signac/4308
[code]

Potentially related issue: https://github.com/nedbat/coveragepy/issues/772

_Originally posted by @bdice in https://github.com/glotzerlab/signac/pull/258#issuecomment-565559312_

[2019-12-14 00:30] #254 closed

[2019-12-14 00:36] #165 closed

[2019-12-14 00:53] #248 closed

[2019-12-14 01:11] #257 closed

[2019-12-19 17:33] bdice opened #262 "Permissions on .signac_shell_history give cryptic error"
### Description

When launching `signac shell`, we got a cryptic error: `Error: [Errno 13] Permission denied`. This happened because I was collaborating with @tommy-waltmann. I ran `signac shell` and the file was created with permissions `600`, meaning that he couldn't read it. We should catch errors when the `.signac_shell_history` file is not readable, throw a warning, and continue to launch the

[2019-12-29 22:53] bdice opened #264 "Run CI on Windows"
### Feature description

I would like to add continuous integration support for signac on Windows. We provide packages for Windows, so I think it is reasonable for users to expect that most features are available and functional. However, we have no way to know if this is the case from our current CI on Linux. I have checked on my own system and there are several tests that fail on Windows.

### Pr

[2019-12-30 04:51] bdice opened #265 "H5Store locking issues"
### Description

I have been facing two issues that may or may not be related. Both issues are related to HDF5 file locking, a feature that was [implemented in HDF5 1.10.0 and changed in HDF5 1.10.1](https://support.hdfgroup.org/ftp/HDF5/releases/ReleaseFiles/hdf5-1.10.1-RELEASE.txt). This file locking feature is meant to help make SWMR (single writer, multiple reader) operations safer.

### To re

[2020-01-02 18:00] jglaser opened #267 "Fix race condition when workspace is created"
### Description

In MPI parallel jobs, where every rank (or every `n` ranks) may initialize a statepoint on the fly, a race condition leads to the job crashing when no `workspace` directory is present. The explanation is that this directory is created on the fly simultaneously by all `job.init()`s of the same ensemble.

A detailed look identifies the `mkdir -p` in https://github.com/glotzerlab/sig

[2020-01-06 09:15] csadorf commented on #267
I would be in favor of creating the workspace directory with `project.init()`.

[2020-01-08 14:12] jglaser commented on #267
note that an easy solution could be to error out when `workspace` does not exist, i.e. put the burden on the user to create it

[2020-01-09 23:16] vyasr commented on #212
@mikemhenry @csadorf @bdice I'm revisiting this topic in view of #249. I started a bit about that PR and prototyping code to make sure the classes I'm suggesting make sense, and I think that pytest will make it quite a bit easier to write those tests. I've been using it extensively for a different package, and I have definitely found that it simplifies test writing enough that I'm in favor of maki

[2020-01-11 01:05] #264 closed

[2020-01-13 17:02] bdice commented on #267
I propose that project initialization should create an empty `workspace` directory, and we leave the current command as `mkdir -p` (actually its Python equivalent). There won't be a race condition to create `workspace` if it already exists, and it will create `workspace` only if it gets deleted by the user.

[2020-01-15 16:28] vishav1771 commented on #268
@vyasr I would like to work on this issue. A have written function to convert dictionary with dotted keys to nested dictionary. But I have doubt about where the new function to be added and called(attrdict or jobs).

[2020-01-15 16:55] vyasr commented on #268
Hi @vishav1771, that's great! This logic should actually live at the level of signac Collections, which are the core data structure that signac uses for things like searching and filtering. The code for collections is contained in `signac/contrib/collection.py`. As noted in the issue, the reverse functionality from what is requested is already implemented: you can see that functionality in the `_t

[2020-01-15 17:09] bdice commented on #268
@vyasr @vishav1771 I remember that I looked through the code for import/export and views, but I don't think I found any implementations of the direction I needed (which is why we wrote the implementation in `signac/diff.py`).

I'm also not sure if this functionality is specific to Collections. For example, the diff feature doesn't use Collections. I think the import/export code might have its own

[2020-01-15 21:30] vishav1771 commented on #268
@bdice @vyasr I have written the function for nested dictionary which should do the task. I am attaching code snippet below:
[code]
Kindly review this.

[2020-01-15 22:01] bdice commented on #268
@vishav1771 We already have a function that converts dictionaries with dotted keys to nested dictionaries in `signac/diff.py` -- see here: https://github.com/glotzerlab/signac/blob/dc870ac06159cae97e1475894913d1def567555e/signac/diff.py#L7-L28

This issue is really about refactoring that logic with the logic in `signac/contrib/collection.py`, where there is a method `_traverse_tree` to do the oppo

[2020-01-16 11:50] vishav1771 commented on #268
@bdice Thankyou, for clarification. I'll stop working on this issue for now and try to make myself more familiar with the library. Can you suggest some other issues which I can work on?

[2020-01-16 16:51] vyasr commented on #268
@vishav1771 there are a few good issues that you could work on. Let me describe them in a bit more detail:

- #227 is about the removal of a deprecated method that is still used internally in a number of places in signac. Fixing that issue involves going through `signac/contrib/project.py` and replacing all uses of the deprecated method `Project.get_statepoint` with `Project.open_job(jobid).sp`. T

[2020-01-16 19:23] atravitz opened #272 "Simplify redundancies in nested dict representations"
### Feature description
Currently nested dicts within signac can be represented as (1) nested dicts, (2) tuples as dict keys, and (3) strings with dot notation.

### Proposed solution

We've had some conversation, about whether it's a good idea to keep all three representations, or to simplify to (1) and (2) or (1) and (3) only. Related topic is issue #64

Current thoughts are:

- Keeping tuples a

[2020-01-18 18:34] vishav1771 commented on #230
Hi @csdorf @vyasr, I have gone through the `schema.py` for this. I think this behavior is due to
[code]
In this, we are comparing the value of `ProjectSchema`, which is dict of datatype as key and set of all value in jobs for that key as the value. I think for comparing the to the schema we should only compare the data type only not the set of value in jobs.

[2020-01-19 01:50] bdice opened #273 "Release 1.3.0 should not be installable on Python 2."
### Description

I accidentally used Python 2 and it successfully installed signac 1.3.0. We need to update the wheels so that they're Python 3 only, not `py2.py3-none-any`.

### To reproduce

`python2 -m pip install signac==1.3.0`

[2020-01-19 01:51] bdice commented on #273
Same issue for flow 0.9.0.

[2020-01-20 15:30] csadorf commented on #230
@vishav1771 Assuming that I interpret the code correctly, then setting the `ignore_values` parameter to `True` means to ignore all values (and their types!) in the comparison. For example, assuming we compare the following two schemas:

[code]
The schemas would be identical with `ignore_values=True`, but different with `ignore_values=False`.
Note, that the same would hold true for the following sc

[2020-01-20 18:04] vishav1771 commented on #230
@csadorf  I don't think that is the case as we are storing these values in a set, not a tuple. I have a doubt regarding this code. While comparing the schema, for the sync shouldn't we pass `ignore_values=True` in `schema.difference` .
[code]

[2020-01-21 15:49] csadorf commented on #230
@vishav1771 No, a synchronization would not be possible if the values differed, so that can't be it.

Btw, it would be easier for me to follow your arguments if you could copy & paste the link to the code snippet instead of copy & pasting the lines themselves, see the [help page](https://help.github.com/en/github/managing-your-work-on-github/creating-a-permanent-link-to-a-code-snippet) on how to d

[2020-01-21 17:37] vishav1771 commented on #230
@csadorf Does that  means the following project cann't be synchronized unless `check_schema=False`
[code]
And the statepoint given in the issue description have such type of condition that results into error.

[2020-01-22 19:59] klywang opened #274 "Cannot access project data through signac interface"
### Description

Accessing arrays from `project.data` using `signac` returns a `ValueError`. The same arrays may be accessed using`h5py` so I believe the data was written correctly. This error does not occur when accessing arrays using `job.data`or when accessing scalars and strings from `project.data`.

### To reproduce

In a project directory:
[code]
This will return a `ValueError`.

Accessing t

[2020-01-22 20:23] bdice commented on #274
I can reproduce this on my machine. I tried copying the `signac_data.h5` file to a job directory and it seems like that worked fine. I am guessing that there is something different in the implementation of `project.data` vs. `job.data` that causes this issue.

[2020-01-22 20:33] bdice commented on #274
I think I solved the problem. I think the underlying problem is that `project.stores` is returning a new instance of `H5StoreManager` in both first line `with pr.data:` and the second line `pr.data.a[:]`.

The Job class keeps a single `H5StoreManager` in its private `job._stores` variable, but the Project class returns a new instance each time the `project.stores` attribute is called (in this case

[2020-01-24 00:45] #267 closed

[2020-01-24 04:37] vyasr commented on #230
Sorry I've been swamped this week and haven't had much of a chance to look at this. I'll try and investigate a bit more tomorrow.

[2020-01-25 22:05] vyasr commented on #230
@csadorf I just had a look at this issue, I think that @vishav1771 is correct. The issue is deterministic, and it's what Vishav pointed out: if you try to sync two projects where one project contains any jobs that are not present in the other, you will receive an error (because of the comparison triggered when `ignore_values=False`). I think that this behavior is unexpected, particularly because w

[2020-01-26 18:14] bdice commented on #262
## Suggested changes to resolve this issue:

Edit this code to show a warning if the `.signac_shell_history` file is not readable/writable, and allow this exception to pass (don't raise). The warning should say something like ".signac_shell_history could not be read/written. The history of this shell will not be saved." Ideally, the warning text should be specific about the permissions it's missin

[2020-01-26 18:25] bdice commented on #227
Currently `Project.get_statepoint` is used in `Project.open_job` when initializing the `Job` object.

This might be easiest to do as a part of (or after) #239, so I advocate waiting on that PR.

[2020-01-26 18:31] bdice commented on #238
We discussed this offline (I can't remember who was a part of the discussion). Our conclusion was that loading a job by id should _not_ require validating that `hash(statepoint) == id`. A user (or I/O error) may corrupt the data space by breaking that invariant, and the user will still be allowed to open the job by id. On accessing `job.statepoint`, job corruption will be checked. @glotzerlab/sign

[2020-01-26 18:34] bdice commented on #274
@klywang Can you open a PR with your current progress on this?

[2020-01-26 20:05] ac-optimus opened #277 "Tutorial update required."
### Description

Add post-condition in the tutorial example. Current instruction throws warning -`WARNING:flow.project:Operation 'compute_volume' has no post-conditions!`
Solution - change [this](https://github.com/glotzerlab/signac-docs/blob/master/docs/source/tutorial.rst#workflows) to
[code]

### To reproduce

Follow the current tutorial [link](https://github.com/glotzerlab/signac-docs/blob/mas

[2020-01-26 20:09] bdice commented on #277
@ac-optimus Sounds like a good solution to me!

[2020-01-27 09:57] csadorf commented on #238
I am ok with lazy loading and only validating the state point metadata when it is accessed.

[2020-01-27 10:18] csadorf commented on #230
@vyasr I see your point and I apparently misinterpreted the problem. I just ran a local test and it seems that indeed `ignore_values=True` might be the right solution.

@vishav1771 Could you
1. Implement a unit test that clearly illustrates and catches the problem (i.e. this unit test *should fail*), and then
2. implement the patch you suggested above (the unit test should now pass)?

[2020-01-27 10:24] vishav1771 commented on #230
@csadorf , I'll start working on this issue after I am done with pytest issue, which I am currently working on.

[2020-01-27 10:26] vishav1771 commented on #230
Should I compare the schema with data type instead of values or let the `detect_schema` as it is.

[2020-01-27 10:34] csadorf commented on #230
OK!

The best way to figure this out would be to implement one or multiple unit tests of different basic scenarios that clearly illustrate what would be the expected behavior. So I would just set up a few project combinations and then make an assessment whether it makes sense that they would be *syncable* or not. You gave an example above that should be fine, but does not work right now. You could

[2020-01-27 14:14] vishav1771 commented on #212
Assign me this issue

[2020-01-27 15:29] b-butler commented on #238
@bdice I don't remember being a part of the conversation, but I agree with the approach.

[2020-01-27 18:21] vyasr commented on #238
@bdice and I did discuss and agree on this approach. I need to post my pseudo-prototype for #249 along with a class diagram so that we can progress on that front. IMO that serves as the cleanest path forward for implementing lazy loading by isolating the logic for synchronization and ensuring that a clear set of invariants are well-defined and well-tested for the different possible use-cases of ne

[2020-01-27 18:28] vyasr commented on #227
Could you clarify why this should wait on #239? Just from reading the issue, it seems unrelated. The `get_statepoint` actually does things that are redundant when called from `open_job` (like looking in the cache again), so I would expect that `open_job` would just directly call `_get_statepoint_from_workspace` in the case that currently falls back to `get_statepoint`.

[2020-01-27 18:32] bdice commented on #238
@vyasr I think (but am not sure) that my intended implementation of lazy loading can be clearly separated from your work on #249. I may need to work on #239 a little more to be sure, but I believe my implementation will rely more heavily on the Project class's caching and opening of jobs than the specifics of how job state points / job documents are synchronized. You should feel free to go ahead a

[2020-01-27 18:34] bdice commented on #227
@vyasr Initializing the Job object will look different if it's lazy. The state point may not be required at all, and some code paths (potentially including uses of this deprecated function) will be removed.

[2020-01-27 18:36] bdice commented on #227
@vyasr Ooh, maybe you're right. I'll retract my previous comment. Maybe this can be resolved without any dependence on #239, though the changes will probably conflict.

[2020-01-28 11:33] ac-optimus commented on #262
@bdice can I work on this issue if no one is working on it currently?
Thanks!

[2020-01-28 12:44] csadorf commented on #262
@ac-optimus Absolutely!

Btw, might be better to tag [signac-committers](https://github.com/orgs/glotzerlab/teams/signac-committers), anyone of them can assign you to an issue.

[2020-01-28 14:28] ac-optimus commented on #262
@csadorf sure,  Thanks !

[2020-01-29 18:18] #212 closed

[2020-01-30 00:07] klywang opened #281 "H5Store pytest is failing on MacOS but passes on Linux"
### Description

Currently, one of the multiprocessing unit tests, `test_single_writer_multiple_reader_same_instance` from `test_h5store.py`, will fail on MacOS. The test passes on Linux and is skipped on Windows due to failure for an unknown reason.

My system has `HDF5` version 10.4.1 and `h5py` version 2.10.0.

### To reproduce
On Mac:
[code]
This will return an error. This test will pass on Li

[2020-01-30 08:35] csadorf commented on #281
I've marked this as a bug, since this might be a potential issue on Mac OS systems. @klywang Would you be willing to add the Mac test to the CI pipeline?

[2020-01-30 19:24] vyasr commented on #227
@vishav1771 can you comment on this issue so that I can assign it to you? Thanks!

[2020-01-30 19:30] vishav1771 commented on #227
@vyasr Sure, assign me:)

[2020-01-31 08:17] #227 closed

[2020-01-31 10:18] csadorf opened #283 "Proposal: Revise the signac configuration system to use the TOML format"
### Summary

The use of [INI-files](https://en.wikipedia.org/wiki/INI_file) in combination with the [configobj package](https://pypi.org/project/configobj/) for managing signac's configuration has been a pain point for quite some time now. With a signac 2.0 release on the horizon, I'd like to propose to use the more modern [TOML-format](https://github.com/toml-lang/toml) ([wikipedia article](https

[2020-01-31 10:19] csadorf commented on #283
@glotzerlab/signac-committers I'd like to get some feedback on this and also have a preliminary decision whether we should _consider_ this, before working this out any further.

[2020-01-31 10:42] csadorf commented on #283
We should probably also look at [dynaconf](https://dynaconf.readthedocs.io/en/latest/).

[2020-01-31 16:15] b-butler commented on #283
TOML configuration is an interesting proposition. In general, I do think it is more readable than JSON is by default. I think this definitely is worth some consideration. If we weren't considering the project's history, I would say that TOML out of the three makes the most sense (we don't need all the power -- read complexity -- of YAML and TOML is easier and more readable than JSON -- I would ima

[2020-01-31 20:57] vyasr commented on #283
I think this would be a positive change and would approve at least considering the direction in which to take this.

[2020-02-02 19:44] klywang opened #284 "H5Store passes H5StoreAlreadyOpen error which may lead to misleading behavior"
### Description

Reference to the following commet [[x]](https://github.com/glotzerlab/signac/pull/278#issuecomment-581163649) in PR #278.
The following code for the context manager in `H5Store` passes `H5StoreAlreadyOpen` errors:
https://github.com/glotzerlab/signac/blob/569b8e5957ea07f00528ae3cfd1392f1c10d1043/signac/core/h5store.py#L317-L322

This may be problematic since it gives users the app

[2020-02-03 09:49] csadorf commented on #284
@klywang Thank you very much for the detailed analysis.

The `H5Store` instance itself has an implicit mode through the `kwargs` argument to the constructor (see [here](https://github.com/glotzerlab/signac/blob/569b8e5957ea07f00528ae3cfd1392f1c10d1043/signac/core/h5store.py#L356)) and will open with that mode when entered as CM. So to my understanding the user cannot open the same store with diffe

[2020-02-03 15:27] klywang commented on #284
Here is a minimal example of the tests on the `master` branch. This first example passes but should not:
[code]

This second example fails with `ValueError: Unable to create dataset (no write intent on file)`:
[code]

[2020-02-03 15:42] bdice commented on #284
@klywang I'm not sure what to expect from the first example, I don't know how multiple file handles on the same file work in practice. This page indicates that the behavior is undefined, in which case we can't do much about it except potentially try to prevent users from opening the same file again: http://docs.h5py.org/en/stable/whatsnew/2.0.html#file-objects-must-be-manually-closed.

The second

[2020-02-03 16:13] klywang commented on #284
@bdice I expect the first example to return an `H5StoreAlreadyOpen` error. I don't think users should be allowed to write code like in the first example. There are several tests in `test_hstore.py` which test variations of the first example and expect them to pass.

The second example is meant to show what should happen when you try to write something in read mode to contrast with the first exampl

[2020-02-03 18:10] vyasr commented on #284
The core issue confusing @klywang is that `[job|project].data` is a single `H5Store` instance (`project.data` was not, but is being fixed in #278), but Kelly was expecting it to behave more like the class constructor. In practice, the main difference between these two choices is that nothing prevents the user from creating multiple `H5Store` objects that all reference the same file. For instance,

[2020-02-03 18:53] klywang commented on #284
@vyasr I think the documentation is clear that `job` is an instance of `H5Store`. I simply did not understand that there is a difference between opening the same file with different `H5Store` objects and opening the same file multile times with the same `H5Store` example. I'm not sure any of this is a documentation issue. Rereading through all of this, I don't think anything needs to be changed an

[2020-02-04 21:33] #273 closed

[2020-02-06 23:56] vyasr commented on #171
Here are my thoughts on the steps to proceed with this issue, and the relevant concepts

- We need to document exactly what JSON functionality what we require (essentially `json.load`, `json.loads`, and `json.dumps` right now, but I could imagine this changing).
- We should write tests of the `signac.core.json` module that verify this behavior. Some of these tests will have to check the precision

[2020-02-07 00:20] bdice commented on #171
@vyasr Thanks for documenting this so clearly! Another solution would be to remove "alternative" JSON support and close this issue until/unless users request it. Resolving this issue requires extreme attention to detail.

I believe that compatibility across platforms and locales is of critical importance, and the performance benefits are probably not important enough to most signac users. From som

[2020-02-07 09:02] csadorf commented on #171
I also vote to close this issue for now and deprecate support for rapidjson. The only thing I could see as a reasonable project is to slightly refactor the code before the release of signac 2.0, so that it would be easier to implement that in some future version should there be a demand for it.

[2020-02-08 20:01] vyasr commented on #249
I've finally put together a rough class diagram that describes how I think this should be structured:

![image](https://user-images.githubusercontent.com/1538165/74091269-9d647880-4a83-11ea-9f61-406c0b3a406f.png)

A few notes for those who aren't that familiar with UML class diagram syntax:

- Italics indicate abstract (any class with abstract methods or attributes is abstract)
- Underline indicat

[2020-02-08 20:02] vyasr commented on #249
@glotzerlab/signac-committers all comments on this would be welcome. If this is your first time reading the thread, feel free to ask any clarifying questions.

[2020-02-09 17:54] bdice commented on #249
This is great! I think this architecture is clear and well-founded. A few other ideas/asides:
1. In the bigger picture of signac, this architecture seems to assume that Job objects own their own data storage mechanisms (e.g. a Job owns its statepoint, which is a synced dict). In a SQL or other centralized backend, however, it might make more sense for Jobs to route their storage through a single s

[2020-02-09 19:41] bdice opened #285 "Remove support for rapidjson"
### Feature description

The rapidjson library is optionally supported by signac. Currently this support is enabled by default if the rapidjson library is installed. From the discussion in #171, we would like to deprecate support for rapidjson. The rapidjson support is implemented in this file:
https://github.com/glotzerlab/signac/blob/master/signac/core/json.py

### Proposed solution

There shoul

[2020-02-09 19:41] bdice commented on #171
I think there is some consensus on deprecating rapidjson -- I opened #285 to help make concrete steps towards deprecation. I will close this issue for now.

[2020-02-09 19:41] #171 closed

[2020-02-09 22:03] vyasr commented on #249
1. This is a really good point. I'm not sure what the best way to support this is. One major question to think about is, what operation should we conceptualize as atomic? In my opinion, an individual `SyncedCollection` should be able to write atomically. If that is the case, then while you could use a database back-end, you would still need to perform individual transactions for each job. If we ag

[2020-02-09 22:06] vyasr commented on #285
Since it's not API breaking, I agree with you that we could in principle just remove it. However, on the off chance that anyone is actually taking advantage of the rapidjson integration it would be interesting to know, because that would provide some data on whether #171 is ever worth pursuing or not. From that point of a view, a deprecation warning (with a note to contact us if it shows up) might

[2020-02-09 23:03] #284 closed

[2020-02-09 23:51] klywang commented on #281
Would this branch be categorised as `fix` or `misc`?

[2020-02-10 01:47] bdice commented on #281
Branch names are very flexible - maybe something like `ci/mac`. Your call!

[2020-02-10 09:00] csadorf commented on #285
I agree with @bdice , let's just remove it. Adding some kind of deprecation cycle adds a lot of unnecessary work that is likely not worth it. For users who relied on this, this will represent a regression, not an API breaking change. If this is very crucial to some users they are just as  likely to complain in that case, compared to explicitly deprecating it. After it's removed we can have a look

[2020-02-10 13:36] bdice commented on #285
Next steps for a pull request:
- Remove rapidjson from core/json.py.
- Remove CI testing for rapidjson.
- Search for “rapidjson” in the code base and make sure nothing was missed.

[2020-02-10 14:03] ac-optimus commented on #285
hi, @bdice can I work on this issue?

[2020-02-10 15:22] #230 closed

[2020-02-10 16:07] CryoZEUS commented on #285
I'd like to work on this issue as well if that is okay?

[2020-02-10 16:11] bdice commented on #285
@CryoZEUS I think one person should be able to do these tasks -- it's a small set of changes. If you would like to be added as a reviewer once @ac-optimus creates a pull request, we can do that! Thanks for offering to help. 😄

[2020-02-10 16:12] bdice commented on #285
@ac-optimus I searched the code for "rapidjson" and I have confirmed that the two changes I suggested (remove from core/json.py and remove CI testing) are all that is needed for this pull request. That's all you will need to do.

[2020-02-10 16:16] CryoZEUS commented on #285
@bdice Sure. Can you suggest any **good first issue** that doesn't involve documentation? I'm willing to contribute and still going through the repo; but not sure how I could get started.

[2020-02-10 16:34] bdice commented on #285
@CryoZEUS I'll tag you on a signac-flow issue soon! I haven't made the issue yet but I think it would be a good first issue. Thanks for your interest!

[2020-02-10 16:45] CryoZEUS commented on #285
@bdice That would be really great! Thank you! :)

[2020-02-10 20:25] vishav1771 commented on #268
@vyasr @bdice I think I am now able to start working on this issue. Kindly brief me about what I need to do?

[2020-02-11 01:16] ac-optimus commented on #285
done!

[2020-02-11 03:18] shannon-moran opened #288 "Allow arbitrary vlen data in job.stores"
### Feature description

Not all data is uniformly sized-- for instance, an "array of arrays" that holds the size of each cluster at each timestep in a simulation. As the number of clusters will change over time, the length of the array with sizes will not be uniform for all timesteps. When one uses `job.stores` to put this into `hdf5`, one gets the error ``Object dtype dtype('O') has no native HD

[2020-02-11 16:09] vyasr commented on #268
Sure, you are welcome to take a stab at this! Be warned that this issue will be a bit tricky because it requires looking through large parts of the code base. Also, none of the maintainers have done this thorough sweep yet, so we may have to go through a few iterations to get everything right as we collect more information. As long as that sounds OK to you, I'm happy to have you work on this issue

[2020-02-11 16:14] vyasr commented on #272
@vishav1771 this issue is the one we should solve before #268. As the issue describes, we need to centralize our logic for handling nested dicts as much as possible. I think the first step is to evaluate all the places in the code where we use different types of nested dictionaries.

I unfortunately don't know exactly where each of these representations is used. Internally, collections use the dot

[2020-02-13 14:41] tcmoore3 opened #290 "Add option to hide constant parameters with signac statepoint"
### Feature description

It would be nice to be able to hide constant parameters when calling `signac statepoint` on the command line, similar to the way you can do `$ signac schema -x` or `schema = project.detect_schema(exclude_const=True)`.

### Proposed solution

[code]
I assume the machinery is already in the code to make this possible since it is an option to `detect_schema`. I'm also assumin

[2020-02-13 14:50] csadorf commented on #290
I like the idea and should be straightforward to implement, however it must be clear that using the `-x` option will significantly increase the runtime of this particular command especially if state points are not cached.

The state point subcommand is implemented here: https://github.com/glotzerlab/signac/blob/7ba32136abd4480d558aea46fe0400c142ec4912/signac/__main__.py#L266

You should then detec

[2020-02-13 19:21] #285 closed

[2020-02-14 16:00] csadorf opened #291 "Reduce test noise due to deprecation warnings"
### Description

Switching to pytest as the primary testing framework has vastly increased the noise for test outputs due to deprecation warnings. The noise should be reduced analagous to how this was handled for signac-flow, here: https://github.com/glotzerlab/signac-flow/pull/246

### To reproduce

Execute the test framework with `pytest` within the repository root directory.

[2020-02-14 19:23] vishav1771 commented on #272
@vyasr  I have gone through the file to find the implementation of the nested dict.
The use cases of different nested dict representations are :

- Nested Dict
1. Storing statepoints in `JSON` files

-  Dotted Strings
1. Difference of Jobs in `diff.py` (we are returning nested dict though).
https://github.com/glotzerlab/signac/blob/c998edf1aa9215a67de5286bc5dbb88fe739e70b/signac/diff.py#L74-L82

2

[2020-02-17 12:54] ac-optimus commented on #291
hi @csadorf can i work on this issue?

[2020-02-17 13:05] csadorf commented on #291
@ac-optimus Absolutely! Please let me know if you have any questions.

[2020-02-17 13:05] ac-optimus commented on #291
yes sure!

[2020-02-17 21:46] vyasr commented on #272
Thanks @vishav1771 this list looks fairly comprehensive and I don't see any other examples that you have missed. @atravitz do you recall finding any other examples?

[2020-02-18 00:29] atravitz commented on #272
Hi @vishav1771 , thanks for going over this!

Based on their usage, I'm inclined to think we should simplify to (1) nested dicts and (3) strings w/ dot notation, which means rewrite the instances of (2) tuples at dot keys.

I also wonder if it would be more appropriate to rename `_traverse_filter` to `nested_dicts_to_dotted_keys

[2020-02-18 12:36] vishav1771 commented on #272
Okay, I'll start working on this.

Renaming makes sense. Can we move  `nested_dicts_to_dotted_keys` and `_dotted_keys_to_nested_dicts` to `utility.py`? (just to generalize them)

[2020-02-18 16:24] vyasr commented on #272
I think that would be a reasonable place to put it for now, yes. We plan to do some significant reorganization before v2.0, so it may get moved again, but for now that seems like a good place to put it.

[2020-02-18 20:55] vishav1771 commented on #272
I got some doubts. It may or may not be related to this issue.
In `format` for `ProjectSchema`, when `depth` is provided
https://github.com/glotzerlab/signac/blob/3debe37ed1c287163bb05bd1842bb4dafe874047/signac/contrib/schema.py#L109-L118

Here we are converting tuple of keys to dict as
[code]
to
[code]
I don't think this is intended behaviour. Please verify!
P.S. I think intended behaviour is to

[2020-02-19 03:46] vyasr commented on #272
Good catch! I can verify that you are correct. This is definitely not the intended behavior. Here's a sample script that demonstrates the problem:

[code]

Looking through our tests, we have multiple tests of `detect_schema` that verify that the `ProjectSchema` has the right contents and that calling things like `difference` have the right behavior, but none that verify the behavior of the formatt

[2020-02-20 14:52] csadorf opened #297 "Implement the CLI with Click instead of argparse"
### Summary

Implement the command line interface (CLI) with the [Click library](https://click.palletsprojects.com/) instead of [argparse](https://docs.python.org/3/library/argparse.html).

### Motivation

Using Click for the implementation of a CLI has numerous advantages over using argparse, including a more concise API, the enforcement of a more consistent interface, and built-in support for th

[2020-02-20 14:52] csadorf commented on #297
@vishav1771 Would you be interested in giving this a shot?

[2020-02-20 15:24] vishav1771 commented on #297
Sure :+1:

[2020-02-20 15:43] csadorf commented on #297
Awesome, thx! Please feel free to discuss questions about this project directly on this issue. Please apply the "Click" label to any PRs related to this issue so that it is easier for us to keep track of things.

[2020-02-20 15:52] bdice commented on #297
@vishav1771 Thanks for taking this on! Eventually we will want to do the same for signac-flow, so it may be helpful to document the steps you take along the way for a contributor to do this again for that package.

[2020-02-22 16:14] vishav1771 commented on #297
To measure coverage of `signac/__main__.py`:  pytest provides [pytest-cov](https://pypi.org/project/pytest-cov/) extension which can replace `coverage.py`. Should I go with this?

[2020-02-22 23:14] bdice commented on #274
Resolved by #278.

[2020-02-22 23:14] #274 closed

[2020-02-25 00:57] vyasr commented on #297
I think using pytest-cov is a good idea. We will probably want to use `click.testing` for actually writing future tests.

[2020-02-26 18:19] vyasr commented on #197
@bdice @mikemhenry thoughts on this issue? I think this would be relatively straightforward to implement, the bigger question is what tradeoffs there are. For example, making this change would effectively discourage direct modification of the signac.rc file, for instance to change the workspace (you would have to go through the config API). Personally I think this is a good thing and would want to

[2020-02-26 18:20] vyasr commented on #262
This issue was resolved by #279.

[2020-02-26 18:20] #262 closed

[2020-02-26 18:22] vyasr commented on #265
@bdice is there anything we can do about this other than document the usage of `HDF5_USE_FILE_LOCKING` (with all appropriate "here there be dragons" warnings for SWMR users)?

[2020-02-26 18:23] vyasr commented on #281
@klywang did you have any luck figuring out why this fails?

[2020-02-26 18:33] vyasr commented on #283
We should keep in mind #197 so that we don't try to simultaneously implement both changes.

[2020-02-26 18:34] csadorf commented on #283
Should we put this on a 2.0 milestone?

[2020-02-26 18:40] bdice commented on #265
@vyasr This was partly resolved by #266. Otherwise
![image](https://user-images.githubusercontent.com/3943761/75376134-843e3300-589d-11ea-8bd0-0089736f5946.png)

[2020-02-26 18:40] #265 closed

[2020-02-26 18:40] vyasr commented on #288
@bdice any idea on how feasible this would be? Offhand I don't actually think this would be too difficult, I think you would just need to change the calls to `create_dataset` in `_h5set`, but perhaps there are details that I'm missing.

[2020-02-26 18:42] vyasr commented on #291
Resolved by #292

[2020-02-26 18:42] #291 closed

[2020-02-26 18:50] bdice commented on #197
I propose:
- Keep `signac.rc` and project/job state point/document/data files clearly visible with the current name scheme.
- Place all caches and shell history files in a `.signac` directory.
- Recommend adding `.signac` to `.gitignore`.

I believe that the clear visibility of signac files (aside from caches/shell history files) is a good thing, especially for new users learning to navigate the d

[2020-02-26 18:56] vyasr commented on #197
I'm mostly in agreement. All JSON document files should be visible, all internally generated caches etc should be hidden. The only file I'm not 100% sure about is signac.rc, since we tend to mirror git a lot and `.git` is hidden. I could see going either way with this file, so I'll defer to others if you have preferences.

[2020-02-26 19:17] bdice commented on #288
Since we're currently relying on `h5py` to handle dataset creation (we just set the value with `grp[key] = value`), we would have to put in a special layer to `_h5set` that checks for something that can be treated as a ragged lists-of-lists, e.g.

[code]

This would be tricky to handle correctly if we're interested in anything beyond the case of a 2D ragged array of numbers. It looks like the `vle

[2020-02-26 19:49] b-butler commented on #197
I think that having one way to modify the configuration is best for new users. Thus I would suggest putting `signac.rc` in the `.signac` folder while exposing the settings through the config API.

[2020-02-26 19:49] csadorf commented on #197
Agreed, I'm not so sure about the config file either.

[2020-02-27 17:16] vyasr commented on #249
Had a discussion with @csadorf about this, he's largely on board with the stipulation that the focus of the refactoring needs to be on enabling new features (better caching, interchangeable backends) and not on just reworking existing code that already exists. Here were a few specific points raised:

- Clarify that there’s a parent child relationship between collections so that only the top-level

[2020-02-27 17:22] csadorf commented on #249
You need the hook, because you must be able to react to changes of the collection. If you change the `SyncedDict`, it must inform the `Job` class that it has changed. Otherwise you can't propagate that information upwards. So in essence, the `SyncedCollection` class must have a `on_change()` call back function.

[2020-02-27 17:27] csadorf commented on #249
In addition, I'd recommend that all classes with file access should have a URI that can be used as a namespace for the global cache. So for example, the URI for a SyncedJSONDict would be a [UUID5](https://docs.python.org/3/library/uuid.html#uuid.uuid5) with namespace *signac:SyncedJSONDict* and name=*file url*.

[2020-02-28 18:40] #268 closed

[2020-02-28 18:40] #272 closed

[2020-02-28 22:22] mikemhenry commented on #197
I will have to think about this a bit. I like how clean it would be to keep `signac.rc` under source control, and just ignore `.signac/`. But if we want to 'hide' `signac.rc` from new users/let people live theirs lives without seeing it, perhaps `.signac.rc` (or even `.signacrc`) would be a good compromise. That way the file is still 'hidden' but it would be easy to keep it tracked in source contr

[2020-02-29 03:30] #259 closed

[2020-03-02 09:45] csadorf commented on #297
I unlinked #300 again, because merging that PR will not fully close this issue.

[2020-03-02 09:49] csadorf commented on #249
See also: #189

[2020-03-07 08:48] csadorf opened #301 "'signac config verify' is broken"
### Description

The `signac config verify` CLI command is currently broken, as was discovered during the implementation of #300 .

### To reproduce

Execute `signac config verify` on the command line.

[code]

### Error output

If possible, copy any terminal outputs or attach screenshots that provide additional information on the problem.

### System configuration

[code]

[2020-03-10 18:38] #301 closed

[2020-03-11 18:55] bdice opened #303 "`signac project --access` should be deprecated"
This `signac project --access` generates a file `signac_access.py` that uses deprecated functionality. This feature of the CLI should be deprecated.

Originally discussed with @csadorf in #300.

[2020-03-16 21:40] vyasr opened #304 "Ability to clone a signac project"
### Feature description

We currently have the ability to clone jobs between signac projects. It could be useful to clone projects wholesale.

### Proposed solution

Here's a [script](https://gist.github.com/vyasr/590ba0eb2e221f98dbd200b7539ebac8) showing how this could be accomplished. It's taken from our outdated [signac-utils repository](https://bitbucket.org/glotzer/signac-utils/src/master/bin

[2020-03-18 18:38] phmalek opened #305 "signac view creates view folder in the current directory"
### Description

`signac view` is supposed to create the symbolic link in the `project` directory, independent of the current directory. In the current version, `signac view` produces the `view` folder in the current directory, which can be a sub-directory of the project. This makes the database messy.

[2020-03-18 19:33] kidrahahjo commented on #304
Hi @vyasr
If it's not very urgent to resolve this, can I try my hands in this?

[2020-03-19 03:20] bdice commented on #305
@phmalek From reading the output of `signac view --help`, I think that the intended behavior is to act in the current working directory, not the project root. I understand why you would prefer to put it in the project root, but that would make the behavior somewhat inconsistent with other commands like `signac export`. You can use the command `signac view "$(signac config show project_dir)/view"`

[2020-03-19 12:05] bdice commented on #304
@kidrahahjo I am not sure if this has a clear use case. At least, I couldn't see a case where I would prefer this solution over just using normal command line tools for downloading/extracting/copying files. I agree with @vyasr that we needed to open this issue for bookkeeping / not forgetting that the feature was once developed. The fact that we forgot about it for years means it's probably not an

[2020-03-19 12:05] #304 closed

[2020-03-19 12:19] kidrahahjo commented on #303
@bdice May I resolve this?

[2020-03-19 13:24] bdice commented on #303
@kidrahahjo Sure! Please deprecate `def create_access_module` in `project.py` and adapt the tests / deprecation warnings accordingly.

[2020-03-19 14:13] csadorf commented on #297
I've marked the first two tasks as completed with the merge of #300 . Nice job @vishav1771 !

[2020-03-19 14:36] kidrahahjo commented on #303
@bdice Sure

[2020-03-19 16:09] phmalek commented on #305
I am not still convinced. I cannot see the point, why `signac view` should be consistent with commands like `signac export` at the expense of having a messy database.

[2020-03-19 16:58] vyasr commented on #305
`signac view` is also consistent with essentially all standard UNIX commands (`mv`, `cp`, `chmod`, etc) that assume all paths are relative to the current directory. In particular, it should agree with `mkdir` since that's the first thing it does. For this reason, I think defaulting to creating the view relative to the project root causes on average more cognitive dissonance than it resolves. Pract

[2020-03-21 01:09] bdice opened #311 "Test of "signac diff" relies on dictionary order"
### Description
The test here relies on the order of a dictionary's items. On Python 3.7+, dictionaries are guaranteed to be ordered (and also on Python 3.6 even though it's not an API guarantee). This is not true on Python 3.5, so the test will occasionally fail.
https://github.com/glotzerlab/signac/blob/eb5cd298f65e99ff20f5df09e2a3fb0005e23c83/tests/test_shell.py#L264-L266

Instead, we could ass

[2020-03-21 14:58] #311 closed

[2020-03-23 21:34] bdice opened #314 "project.detect_schema() should have a pretty representation in IPython"
### Feature description
In #127, we added an IPython representation for `JobsCursor` objects. I would like the same kind of behavior for `ProjectSchema` objects, with a pretty format that looks similar to the output of `signac schema`.

### Proposed solution

Add a method `_repr_html_` to `ProjectSchema`. Refer to `JobsCursor` and `Project` classes for examples.

[2020-03-25 21:14] vyasr opened #315 "Convert all docstrings to numpy style"
As part of our overall docs overhaul (see glotzerlab/signac-docs#64), we want to convert our docstrings to numpy style (as decided in glotzerlab/signac-docs#74). The best automated tool I'm familiar with for this task is [pyment](https://github.com/dadadel/pyment). In addition to converting docstrings, it will also generate docstrings for functions, classes, etc that are missing docstrings entirel

[2020-03-27 18:19] tcmoore3 opened #316 "Unexpected errors when using ints as keys for JSONDict"
### Description

I'm trying to go through a project and save calculation results into a `JSONDict`. The basic schema is just 2 statepoint parameters, say `p1` and `p2`. I create a `JSONDict` `dd`, and call `dd.setdefault(p1, {})`. I then get a `KeyError` when I try to access `dd[p1]`. This error only happens with `p1` is an int or float; I get the expected behavior when it is a string.

It seems l

[2020-03-30 21:03] vyasr commented on #315
@ac-optimus could you comment on this issue so that I can assign you?

[2020-03-30 21:05] ac-optimus commented on #315
hi, can I work on this issue?

[2020-03-31 21:57] bdice opened #317 "signac shell doesn't show warnings like the default Python interpreter"
### Description

When running `signac shell`, I don't see `DeprecationWarning`s.

### To reproduce
Execute `signac shell` or `python` and then type:
[code]

### Error output

In the default Python interpreter, I see the following output:
[code]
### System configuration

Please complete the following information:

 - Operating System [e.g. macOS]: Linux
 - Version of Python [e.g. 3.7]: 3.7
 - Versi

[2020-04-06 18:01] vishav1771 commented on #314
@bdice  I like to work on this.

[2020-04-07 02:29] vyasr commented on #314
Sure!

[2020-04-07 18:15] salazardetroya opened #321 "groupby() by variables that not present in the entire data space"
### Feature description

I am interested in obtaining all the jobs that contain a variable `b` which does not necessarily have to be present in all the jobs.

### Proposed solution
From @bdice in the slack group:

@Miguel This behavior could be improved, but what would you expect the behavior to be? A group where b is None isn't really an option because b could be set to None in the statepoint. **

[2020-04-08 16:42] vishav1771 commented on #321
@csadorf  I will like to work on it.

[2020-04-08 16:55] vyasr commented on #321
@vishav1771 I'm happy to assign you to this, but keep in mind that you're already assigned to #314 and #297 so do you want to try and wrap one of those up first (probably #314) before tackling this, or do you feel comfortable working on three issues at once?

[2020-04-08 19:49] vyasr commented on #321
Well apparently you can handle another issue just fine :)

[2020-04-09 15:52] csadorf commented on #321
@salazardetroya Would it be possible for you to verify that #323 implements your expected behavior?

[2020-04-09 17:48] vishav1771 commented on #314
I have added the `_repr_html` for `ProjectSchema`. It's looking like this now:

![Screenshot (4)](https://user-images.githubusercontent.com/46069089/78924636-cd49ef80-7ab7-11ea-80de-57c0e3e2fb9e.png)

Is this what we are looking for. Should I continue with the PR.

[2020-04-09 18:11] bdice commented on #314
@vishav1771 Yeah, that seems like a great start! I can provide more comments when you create the PR.

[2020-04-09 19:24] salazardetroya commented on #321
Yes, I can run the above example so I'm good, thanks @vishav1771 !

[2020-04-13 18:23] #314 closed

[2020-04-20 20:51] vyasr opened #327 "Request subset of columns in `JobsCursor.to_dataframe`"
### Feature description

My statepoints are often overspecified in the sense that I include more information than is required to make a job unique in a data space because those are still variables that are critical to defining the data point and I anticipate the possibility of varying them. It would be very convenient if there was a simple API to specify which columns should be included in the Dat

[2020-04-22 20:31] bdice commented on #327
I could see adding `exclude_const`, but not a whitelist/blacklist of keys. I think it's appropriate for users to perform more extensive manipulations using `pandas` itself. I don't think this is signac's responsibility, unless it's presenting a significant performance penalty.

[2020-04-22 21:33] vyasr opened #328 "Unify or improve consistency between groupby and groupbydoc"
@vyasr @zhou-pj I looked at the [original pull request](https://bitbucket.org/glotzer/signac/pull-requests/26/groupby/diff) where we introduced this feature. I don't recall discussing this API choice explicitly. I think it was an arbitrary choice that allowed `groupby` to be very general (a callable of `job` is more flexible than a callable of `job.sp`) while allowing `groupbydoc` to have `job.doc

[2020-04-22 21:54] vyasr commented on #328
@bdice @zhou-pj I honestly think the current API is kind of confusing. We could unify the two by changing to just a single `groupby(sp=None, docs=None, keyfun=None)` (or whatever arg names), but I see the ugliness that probably prevented you from doing that originally since it's nicer to have a single argument. What if any key prefixed with "doc." was treated as a doc key, and others are statepoin

[2020-04-22 21:58] vyasr commented on #327
I think that's probably the right call for state point keys. Adding `exclude_const` is IMO very useful, but beyond that I think modification can be left to pandas.

However, that is referring to state points. I think the situation is potentially quite different for documents; people store plenty of somewhat heavyweight data in there. For that case the black/whitelist seems much more useful. Though

[2020-04-23 15:42] csadorf commented on #327
@vyasr I agree with @bdice we shouldn't over-engineer this. To determine which state point keys are constant over the data space is a non-trivial so providing that option makes sense, but everything else I feel is out of scope. Pandas in general makes it very easy to select and unselect specific columns. However, it's possible I am missing something in which case I'd encourage you to provide a spe

[2020-04-23 15:45] csadorf commented on #328
I was hoping that we could revise the search-functionality in general and have the option to provide a unified filter, where the `sp.` prefix is implicit. This would also help with other applications such as dashboard. I even implemented a prototype for this: #188

[2020-04-23 15:58] vyasr commented on #328
Ah yes OK I reference dashboard because I thought something like this existed but couldn't find it. That's a very helpful find, I definitely think that's worth looking back into.

[2020-04-23 22:28] #321 closed

[2020-04-26 16:08] vyasr commented on #327
@csadorf @bdice we're generally on the same page. I think enabling `exclude_const` is absolutely worthwhile and in scope, while additional filtering is easier to do with pandas and so may be out of scope. I'll explain my argument regarding a whilelist, but I'm fine if we decide not to proceed on that front.

The usage I currently have is that I have a project where I'm storing a number of quantiti

[2020-04-27 07:45] csadorf commented on #327
@vyasr I usually have some `util.py` or `common.py` module within my project space in which I define little utility functions that take of these kinds of things for me. So in this case I would have some kind of `to_df()` function that wraps the underlying signac function. Would that be a practical solution for your problem?

[2020-04-28 15:37] vyasr commented on #327
OK, I wrote this snippet under the assumption that all statepoints vary and it's very simple. The behavior I'm looking for is basically just this:
[code]

So if `exclude_const` is implemented, then I think we can skip on the extra whitelisting unless we run into performance issues where the document is just too large.

[2020-04-28 15:56] bdice commented on #327
@vyasr You mentioned cases where the document is large -- I think that's best to handle now, not later. We would just need to implement this filter _before_ the pandas DataFrame is constructed. If the user doesn't request a key, we shouldn't store it into memory over all the jobs. It'd be simple to modify this function to have blacklists/whitelists for sp/doc: https://github.com/glotzerlab/signac/

[2020-04-28 16:41] bdice commented on #327
@vyasr Another design consideration: the `to_dataframe` method uses only top-level keys. That is, it wouldn't flatten a nested dictionary into `a.b.c`, it would just have a column `a` with the nested dictionary as its value. This makes `exclude_const` somewhat tricky to define, since that option is typically applied to schemas (which are flat). I am not sure how you'd prefer to resolve that ambigu

[2020-05-05 15:22] mikemhenry commented on #305
I think until we get a compelling reason to change the behavior, we will keep `signac view` working as is. While I'm closing this issue, if someone has an idea for how we can keep the current `signac view` behavior and also do what @phmalek want's, I'm open to it. That being said, see the workaround posted by @bdice  in the thread above.

[2020-05-05 15:22] #305 closed

[2020-05-05 15:29] mikemhenry commented on #328
This is being worked on in #332

[2020-05-19 19:11] vyasr commented on #249
On further thought, I think the proposed infrastructure does support this, but part of the responsibility would be at the signac level, not the SyncedCollection level. `Job`s currently own a `SyncedAttrDict` that is their statepoint. I think the way to support a centralized storage would be to make `Project` configurable so that (if desired) it could store a centralized `SyncedCollection`, perhaps

[2020-05-27 20:18] klywang opened #335 "Expose more h5py functionality for dataset creation, chunking, etc."
### Feature description

There are certain cases where I would prefer to initialize an array for an entire simulation (ie `MxNxd` a matrix where `M` is the number of frames, `N` is the number of particles and dimensionality of parameter associated with each particle). Initializing these arrays using `numpy.zeros` or `numpy.empty` can be memory intensive and I would like to avoid appending arrays a

[2020-05-28 03:35] bdice commented on #335
@klywang I could see this working just fine. Following the [h5py.create_dataset API here](http://docs.h5py.org/en/stable/high/dataset.html#creating-datasets), I think you would want to add a method to the [H5Group class](https://github.com/glotzerlab/signac/blob/master/signac/core/h5store.py#L182) that is something like this:

[code]

We may wish to copy more of the Group API as well. Complete Gro

[2020-05-28 15:16] #327 closed

[2020-06-11 22:15] mikemhenry commented on #315
List of files that need to be fixed:

- [ ] `benchmark.py`
- [ ] `doc/conf.py`
- [ ] `setup.py`
- [ ] `signac/common/configobj/__init__.py`
- [ ] `signac/common/configobj/validate.py`
- [ ] `signac/common/configobj/_version.py`
- [ ] `signac/common/config.py`
- [ ] `signac/common/connection.py`
- [ ] `signac/common/crypt.py`
- [ ] `signac/common/host.py`
- [ ] `signac/common/__init__.py`
- [ ] `si

[2020-06-11 22:17] bdice commented on #315
@mikemhenry Fantastic! We can also ~cross out~ any files that are deprecated and add them to a "disallow" list for docstyle checks, in addition to our current "allow" list.

[2020-06-11 22:19] mikemhenry commented on #315
I'm thinking any files that are not in `signac/` can be probably dropped? Also any files that "`THIS MODULE IS DEPRECATED!`"

[2020-06-11 22:23] mikemhenry commented on #315
Okay I think I got all the files that we should ignore, if anyone wants to propose/suggest others just let me know!

[2020-06-12 07:42] csadorf commented on #315
I don't think we have to adapt the doc-strings of vendored packages such as the configobj package.

[2020-06-12 13:22] vyasr commented on #315
I agree, we should leave those as is.

[2020-06-12 14:24] bdice commented on #315
I edited @mikemhenry's comment directly to fix the vendored list. Good call. We could split up the list into 4 PRs: `common`, `contrib`, `core`, and "other".

[2020-06-12 18:34] mikemhenry commented on #315
Thanks @bdice do you mean split the list up for organization or do you mean that we have 4 PRs that cover all of those folders/files instead of a PR-per-file

[2020-06-12 19:16] bdice commented on #315
@mikemhenry I was considering that as 4 "blocks" of work that could each be assigned to a specific person. The choice of one PR per "block" or one PR per file could be up to the assignee.

[2020-06-12 19:33] mikemhenry commented on #315
Got it!

[2020-06-12 19:35] mikemhenry commented on #315
Didn't mean to close  I will update the list with those headings!

[2020-06-12 20:58] mikemhenry opened #338 "Automate Version Bumping With Dependabot"
[Dependabot]( https://help.github.com/en/github/administering-a-repository/about-github-dependabot) can automatically a repo for the dependencies that exist, check if new versions exist, then open PRs to test and see if anything breaks. The bot also includes the release notes of the package as well, so a reviewer would need to skim the release notes to make sure there isn't anything in them that i

[2020-06-15 00:46] bdice commented on #315
I did the `core` submodule in PR #339. We'll need to render all the docs at the end and make sure it looks good before merging the `numpy_docs` branch -- there have been a few things that I've review/approved/written just from looking at the Python code without looking at how it is rendered. I think this will be easiest to do all at the end.

[2020-06-21 00:46] bdice commented on #338
@mikemhenry This is cool. I see no reason not to enable it. I have performed those updates by hand before. It looks like you can configure updates to happen once a month, which I would prefer just to keep the noise down. Do we have consensus on this, @glotzerlab/signac-maintainers?

[2020-06-22 23:22] mikemhenry commented on #338
Cool, I will open a PR with the settings of once per month + no more than 10 open PRs by the bot to keep from generating too much noise.

[2020-06-28 17:12] bdice commented on #315
I finished up #333, which is waiting on review.

[2020-06-29 04:48] bdice commented on #315
I created #343. After #343 is merged, remaining PRs should remove `core`, `common`, and `contrib` from the "skipped" directories in `match-dir` in `setup.cfg`.

[2020-07-06 12:20] bdice opened #344 "NumPy docstyle should denote "optional" arguments"
### Description

@cbkerr [noted in a PR review](https://github.com/glotzerlab/signac/pull/343/#pullrequestreview-439196468) that I didn't use the `optional` flag for optional arguments. I think this problem exists all throughout the new NumPy-style docs and should be dealt with before finishing #315. I'm creating a separate issue because I would perform this as a "last step" after all docstrings h

[2020-07-07 09:09] #338 closed

[2020-07-07 16:00] vyasr commented on #249
This list should contain all tasks that need to be completed before this issue can be considered closed. We can modify this list if needed, but please ~~cross things out~~ rather than remove them so that we have a documented list of things we considered but chose not to do.

- The following issues/PRs must all be addressed (some are duplicates of items listed below):
  -  [ ] #234
  -  [ ] #196

[2020-07-07 21:14] vyasr commented on #344
In my opinion, the default should be the actual default (e.g. `None`), but the docstring should describe what happens in that case. For example: "If `None`, files are copied using :func:`shutil.copytree`"

[2020-07-08 07:27] csadorf commented on #344
I agree with Vyas. The formalized default value should be the one that is actually matching the function signature, but the description should mention what the code logic will then default to. I think it's important to mention the "actual" default value, so that users have the option to explicitly provide it if they want to.

[2020-07-09 04:08] bdice commented on #315
I think we may be ready to merge `numpy_docs` to the main branch after #352. We'll need a final review of the file list above, but importantly, `pydocstyle` should pass on the whole code base (excluding deprecations) after #352 is merged. This will allow us to start enforcing docstring style in some fashion for other pull requests, particularly #336.

1. The `core` submodule is being heavily rewri

[2020-07-09 18:00] kidrahahjo commented on #344
Can I work on this one after #354 is merged to `numpy_docs`?

[2020-07-09 21:38] csadorf opened #355 "The flake8 pre-commit hook is deprecated"
### Description

Contributors are advised to install the flake8 pre-commit as described [here](https://docs.signac.io/en/latest/community.html#contributions).
However, this particular hook is [deprecated](https://gitlab.com/pycqa/flake8/-/issues/568).

### To reproduce

Try to install the hook with:
[code]
Which will trigger a deprecation warning.

### Error output

[code]

### Proposed solution

[2020-07-09 21:39] csadorf commented on #355
This is also an opportunity to improve our setup to automatically linters etc.

[2020-07-09 21:55] bdice commented on #355
I can vouch that pre-commit is a nice tool. 👍

[2020-07-10 17:15] mikemhenry commented on #355
It would be nice to include doc style linting as part of that pre-commit hook that can parse our config file for doc style.

[2020-07-12 23:15] bdice commented on #344
I spoke with @Carreau recently and used a tool he's developing (https://github.com/Carreau/minirst/) which might help automate this process by detecting which arguments are optional and proposing that change. I opened an issue to request this feature: https://github.com/Carreau/minirst/issues/11

It may be less work to implement that feature than to check all the docstrings by hand.

[2020-07-12 23:19] bdice commented on #344
@kidrahahjo Yes, of course! Let's wait until #354 is merged to decide how to prioritize our next steps. Perhaps we can set up a call and discuss automated tooling with @Carreau (though we're not ready quite yet).

[2020-07-15 17:55] mikemhenry commented on #316
We will throw a warning if a user tries to use an `int` as a key since `int` keys are not supported in JSON.

[2020-07-16 04:03] bdice commented on #315
@glotzerlab/signac-committers I've opened PR #357, which will finish up much of the work that has been done for this issue. We'll need to thoroughly review the discussion on this issue. I would advocate for us to review #357 as it is, merge it (unless critical problems are found), and push all follow-up work to new issues/PRs.

Copying from a comment @b-butler made on #354: there are a couple meth

[2020-07-16 17:37] kidrahahjo commented on #355
Should I work on this one to set up the automatic pre-commit hook?

[2020-07-16 22:26] bdice commented on #355
@kidrahahjo This would be great to do after we merge #357 because then we can set up the pydocstyle linter as well. If you want to get started sooner, you can just run flake8.

As a related issue, we should refactor our CI so that it uses `requirements-dev.txt` to install the linters, for ensuring consistent versions.

[2020-07-17 07:35] csadorf commented on #355
@kidrahahjo I think that would be great if we could get this prepared! We can always update the linter configuration after #357 is merged.

[2020-07-19 11:32] kidrahahjo commented on #355
@csadorf
Just to be sure, should I use hooks from `black` or `autopep8`? Or should I just use the hooks provided by `pre-commit`?

[2020-07-19 12:27] bdice commented on #355
@kidrahahjo Use the same checks that are on our CI. flake8, pydocstyle, mypy. https://github.com/glotzerlab/signac/blob/master/.circleci/config.yml#L19-L37

[2020-07-19 12:33] kidrahahjo commented on #355
@bdice  The `flake8` check fails as it commits even when it catches an error. I think the hook is bugged and that's why it's deprecated.

[2020-07-22 22:53] #315 closed

[2020-07-30 16:54] kidrahahjo commented on #344
@bdice
Since #354 is merged, how should we proceed to resolve this issue? (Just curious to know :sweat_smile: )

[2020-07-30 22:04] cbkerr opened #360 "Group CLI documentation to help newer users"
### Motivation

The long list of CLI tools added in #359 is helpful but could be daunting to new users.

The full list of commands is: init,project,job,statepoint,diff,document,rm,move,clone,index,find,view,schema,shell,sync,import,export,update-cache,config

### Possible Solution

Breaking down the list of 19 commands into groups corresponding to user mindset or experience level could help new us

[2020-07-30 23:23] bdice commented on #360
Great idea! A few notes:
- I like the "Lifecycle" approach a lot more than the latter two proposals. It matches how I categorize them in my head.
- We should include an rST rubric in this page, at the top. It acts like a set of quick links or "Table of Page Contents". That's helpful regardless of how the content is organized.
- I would suggest the subtitle "Sharing and Archival" for the last categ

[2020-07-31 16:35] Carreau commented on #344
I'm still working on som edge case with my autoreformatter. FOr example it suggests:

[code]

Which is definitely wrong, but also mean the numpydoc likely passes that incorrectly.
Right now it needs an unreleased version of Numpydoc to function;

I'll send a pr to see what it finds.

[2020-07-31 18:57] pepak13 commented on #360
I like the Lifecycle approach. Generally when I using a new package or software and when I'm going through a documentation, I'll try to aim my search to relevant categories. So this fits in with that. I'm sure that this is a common approach anyway.

[2020-08-02 15:29] bdice commented on #344
@Carreau Please let us know if there are any particular edge cases where you'd like help! Thank you for testing your tool with signac, it is a great help. 👍

[2020-08-02 22:52] #355 closed

[2020-08-03 13:34] atravitz commented on #360
I agree with option 1 (but I think I also proposed it, so I may be biased). I think it also helps users understand right off the bat the three types of things you can do from the command line.

[2020-08-10 11:14] vishav1771 opened #374 "Run test that require redis-server and mongo-server on CI"
### Feature description

The tests added for testing the redis and mongo backends in synced collection API in #364  requires the redis-server and mongo-server to run on CI. Currently, they are being skipped.

### Proposed solution

Maybe be we can use options like [fakeredis](https://pypi.org/project/fakeredis/) and [birdisle](https://birdisle.readthedocs.io/en/latest/user.html)

[2020-08-12 01:41] atravitz opened #375 "dot formatting bug in sync diff"
### Description

When syncing two dicts, the synchronization error message reports key values incorrectly, as shown below.

### To reproduce

I'm currently working on writing a test to replicate this error.

### Error output

![image](https://user-images.githubusercontent.com/31974495/89965605-346ce180-dc1b-11ea-8582-a56db93500c3.png)

### System configuration

Please complete the following inform

[2020-08-12 02:10] atravitz commented on #375
update: while trying to write a test to reproduce this, it looks like `ProjectSyncTest()` isn't being called by pytest. I'm not sure why this is happening - does anyone more familiar with pytest have thoughts?

[2020-08-12 02:13] bdice commented on #375
@atravitz The [pytest naming conventions](https://docs.pytest.org/en/reorganize-docs/new-docs/user/naming_conventions.html) say we should probably rename `ProjectSyncTest` to `TestProjectSync` for it to be recognized and executed as a test.

[2020-08-12 15:08] atravitz commented on #375
@bdice got it, thanks! It turns out this is just a command line error. do we have tests for CLI?

[2020-08-20 15:15] b-butler commented on #290
@tcmoore3 are you interested in implementing this feature?

[2020-08-20 15:19] b-butler commented on #281
@klywang is this still an issue? If so, do you have time to add the mac test to our CI pipeline, and potentially find the bug?

[2020-08-20 15:21] b-butler commented on #335
@klywang are you interested in implementing the solution Bradley mentioned above?

[2020-08-20 19:33] klywang commented on #335
Yeah I can do that

[2020-08-20 20:48] vyasr commented on #335
Rather than mirroring the API, why not directly expose `H5Group._group`? If see value in direct access to more h5py APIs than just `create_dataset`, I think the proper solution would be to make that a public attribute that users could directly work with if they would like. We already expose `H5Store.file`, I don't see any reason not to do that for groups.

[2020-08-26 22:42] bdice opened #380 "Support NumPy "array-like" objects in synced collections."
### Feature description

I would like to be able to convert and store CuPy, Dask, or other array-like objects in the same way we transparently cast NumPy arrays to lists for storage in synced collections.

### Proposed solution

Currently we do a check like

[code]

I _think_ the only code change would be to perform a different check for array-like objects and add a second conversion:

[code]

The

[2020-08-26 23:40] vyasr commented on #380
I like this feature, but before we implement, I'll play devil's advocate. Should we instead move the other way and stop automatically serializing numpy arrays? The obvious knee-jerk reaction is "no, of course we should support numpy, so much of our data is numpy arrays." However, consider that in 2.0 we are dropping support for non-str keys in part because we can't represent them faithfully (see #

[2020-08-27 19:04] bdice commented on #375
@atravitz Can you provide more information? I'm trying to reproduce this and I'm not sure what the screenshot says (it's cut off). Are there specific requirements about the job state points or document values?

[2020-08-27 19:12] bdice commented on #375
Here is a minimal-ish reproduction.

[code]

[2020-08-31 15:58] mikemhenry commented on #374
I'm not sure if mocking redis is the correct approach or if we should add redis-server to the CI. Either have it in the base image, spin up another image that has redis and that can talk to our CI, or install it as part of setting up our dependencies.

[2020-08-31 16:14] bdice commented on #374
We must also ensure that we test both with _and without_ optional dependencies (e.g. Redis and Mongo).

[2020-09-01 01:18] bdice opened #381 "Add CI tests without any optional dependencies (NumPy, Pandas, ...)"
### Feature description

I noticed that Codecov shows a warning on #378 that the lines `NUMPY = False` aren't being covered.
https://github.com/glotzerlab/signac/pull/378/checks?check_run_id=1053300158

### Proposed solution

We should add CI tests for the package that install _only_ signac and no other optional dependencies.

[2020-09-01 02:11] bdice opened #382 "Remove remaining internal uses of `get_id`"
### Feature description

In #250, the `id` property was added to the `Job` class. However, there are still some vestigial uses of `get_id` that should be changed to `id`. I noticed this when `pytest` raised an uncaught DeprecationWarning in one of these two places (can't recall which):
https://github.com/glotzerlab/signac/blob/7086d8981c926703a023654d1c59bbedcfae6298/signac/sync.py#L521
https://gi

[2020-09-01 02:34] bdice commented on #380
@vyasr I think that's a solid argument. I have some additional thoughts.

Removing the feature could be a significant UX regression:
- I have not heard users complain about array/list conversions while saving/loading data (the example you posed with non-string keys was causing significant challenges for users, which is a clear distinction in my mind in favor of keeping the feature). In fact, I bel

[2020-09-01 03:19] bdice opened #383 "Handle NumPy extended precision values."
### Description

Related to #378 and #380. Currently it appears that signac is unable to transparently cast extended-precision NumPy values like `np.float128(9827389123.18237128)`.

I suggest the following:
1. Validators introduced in #378 should raise an error (and not accept extended-precision values as valid).
2. Tests of NumPy numeric types need to consider extended-precision values.

### To r

[2020-09-01 03:51] bdice commented on #383
These functions might be helpful for detecting values that cannot be cast transparently to JSON-compatible types: https://numpy.org/doc/stable/reference/routines.dtype.html

[2020-09-01 13:43] #375 closed

[2020-09-16 14:17] vyasr commented on #84
Given the high complexity and the lack of immediate motivation, I'm going to bump this from v2.0.

[2020-09-16 14:40] vyasr commented on #344
@Carreau let me echo @bdice's thanks, any auto formatting is welcoming :) any updates on this? Totally fine if not, I'm trying to assess open targets for our next release and whether to plan to include this or whether we should move this to the next milestone.

@bdice @mikemhenry in the event that this PR will take a bit longer, I think we can safely punt #344 to our v2.0 release. While it would b

[2020-09-16 14:54] bdice commented on #84
I'm not convinced this needs to be in scope for signac, to be honest. It would be quite complicated and requires skills in API interaction/authentication that aren't necessarily our team's strong suit. If we did anything along these lines, I think that offering a remote backend using SSHFS (potentially via [PyFilesystem2](https://docs.pyfilesystem.org/en/latest/)) would be more suitable than Globu

[2020-09-16 14:57] vyasr commented on #96
Addressing this issue thoroughly requires quite a bit of additional work. For the moment I'm bumping this feature past the 2.0 milestone. I'm (possibly ambitiously) targeting #189 for version 2.0, but since there's more work to do to enable this proposal fully I don't think we need this for 2.0. I also don't think this feature needs to break any existing APIs, so we could add it to a 2.x release.

[2020-09-16 16:02] vyasr commented on #84
That's also fine with me. We can reopen if there's future interest.

[2020-09-16 16:02] #84 closed

[2020-09-17 16:43] Carreau commented on #344
Sorry, no I haven't had time to move forward on it, it will require to rewrite an RST parser with more flexibility than docutils. I'm slowly working on it (not at all in the last two weeks). But I'll need such a thing for another project for which I'm trying to get funding.

[2020-09-18 21:55] vyasr commented on #344
No problem, I'll move this to a later milestone for now, then.

[2020-09-20 21:36] bdice opened #388 "JobsCursor is not documented"
There are references in the documentation to the `JobsCursor` class, but that class is not documented: https://docs.signac.io/en/latest/search.html?q=JobsCursor&check_keywords=yes&area=default

### Proposal

1. Add public API docs for the `JobsCursor` class.
2. Make sure that existing references to the `JobsCursor` class are cross-linked correctly.

[2020-09-22 13:53] vyasr opened #390 "Requiring workspace to be a subdirectory of the project"
I know we've had discussions in the past on tightening the relationship between a project and its workspace. There have been arguments on both sides for either leaving the relationship very loose, or making it even more tightly coupled by requiring that the workspace be contained in the project folder. I don't remember all the arguments either way, but if we need to change anything then the 2.0 re

[2020-10-01 19:47] mikemhenry commented on #344
I'm fine with punting this to v2

Also thanks @Carreau for the work on auto formatting!

[2020-10-01 19:55] mikemhenry commented on #380
This is a tough one, my initial thoughts are that we do want a nice UX story here, espically since we are trying to "sell" signac to people who wouldn't self identify as strong python users. On the other hand, people who care about precision may not realize everything happening under the hood. I'll keep thinking about this but I think something like throwing a warning when we do things to make ser

[2020-10-02 07:27] csadorf commented on #380
I think I'm leaning towards @bdice argument here that a convenient API to store numerical data has worked out very well so far and there have been no obvious problems with the fact that the returned data are just lists. It seems that most users are well aware of the fact that wrapping Python objects into desired types is sometimes necessary and I assume that many NumPy users are aware of [`np.asar

[2020-10-02 07:30] csadorf commented on #380
One thought I just had is that we could potentially implement [`__array_function__`](https://numpy.org/doc/stable/reference/arrays.classes.html#numpy.class.__array_function__) for our own types and thus make it easier for numerical arrays to be automatically converted on the receiving end? I believe that this might be an obvious use case for this.

[2020-10-02 12:54] vyasr commented on #380
Perhaps a reasonable compromise would be to add a configuration variable `cast_external_types` or so that would be `'true'` by default to retain backwards compatibility, but could also be changed to `'warn'` or `'error'` depending on how safe the user wants to be. This is analogous to the pandas option `mode.chained_assignment`. We could then clearly document the pros and cons of allowing this beh

[2020-10-02 13:43] csadorf commented on #380
I am not sure how exactly the `__array_function__` backend works, I just thought it would potentially enable something like `job.arr + 1` and automatically return a numpy array or so.

With respect to feature-flagging this. This also crossed my mind, but I think it's a bad idea, because it means that signac code would run very differently in differing environments in a fundamental way. Something w

[2020-10-02 14:18] vyasr commented on #380
Ah I see what you were trying for. Yes, you could implement something like that. For the particular use case you're describing, since addition is a ufunc you would override `__array_ufunc__`, but that's a detail. That would certainly fix many cases by making our object behave more like a numpy array. It may even be possible with a combination of `__array_ufunc__` and `__array_function__` to make o

[2020-10-02 14:40] b-butler commented on #380
I would say that just implementing `__array_ufunc__` and `__array_function__` and `__array_interface__` or `__array__` are fairly easy and not very tedious. The problem comes in when you want `job.doc.np_array.mean(axis=1) + np.ones(1)` or something. The latter is the tedious in HOOMD because I needed to guarantee that our array classes never allowed conversion to a standard NumPy array as long as

[2020-10-02 14:48] vyasr commented on #380
OK, if your opinion is that the main overhead was handling all the `coerce*` behavior in the `HOOMDArray` then we could consider it. We should consider carefully whether there are any downsides to making the `SyncedList` class behave like a numpy array before we move forward, but at least it's a plausible option.

[2020-10-02 14:54] b-butler commented on #380
That being said, if we keep the current behavior, adding a section to our docs with a title something like "Effectively using NumPy and Scientific Python Packages with signac" that goes into detail about what we do to NumPy arrays in job statepoints and docs. Maybe this by itself doesn't garner a whole section, but I don't see this behavior documented anywhere. We do recommend using the `Job.store

[2020-10-08 00:57] bdice opened #397 "Exceeding the buffer size in parallel context causes errors during flush"
### Description

I have a project with lots of jobs and large job documents. I tried to check the status of the project using signac-flow. One of the conditions involves checking for a key in the job document. The status check attempts to operate in parallel over all jobs. The status check _also_ operates in signac's "buffered" mode, to minimize I/O. This combination of parallel + buffering appear

[2020-10-08 01:38] vyasr commented on #397
Giving every process its own buffer would be safe as long as we could split work in a way that guaranteed that no changes would conflict. Otherwise I think a truly parallel-safe mutex-based buffer is really the only robust solution. The inconsistent and unreliable nature of file locking on parallel filesystems means that relying on file locks isn't really an option.

[2020-10-08 01:38] vyasr commented on #397
In any case this seems very relevant to #363

[2020-11-02 19:19] bdice opened #412 "Table of correspondences between CLI and Python API"
### Feature description

@vyasr suggested adding a table of correspondences between signac's CLI and the Python API as a follow-up to #401.

As an alternatively solution, I think it might be just as good to add links in the other direction (without a table) that go from CLI :arrow_right: Python API.

[2020-11-03 15:33] vyasr commented on #412
I think the use cases are somewhat different. Adding the links from CLI to Python helps for the case of "how do I do X in Python", which is really nice for one-liners. The table would be more useful in the case of "how do I write a shell script using signac" if you're actually trying to use the CLI as the primary interface, in particular if you need to use signac with non-Python tools. At the mome

[2020-11-11 17:12] mikemhenry opened #418 "Move config options from `.pre-commit-config.yaml` to `pyproject.toml`"
When possible, we should put args/options for the tools that we use for pre-commit hooks to be in `pyproject.toml`. That way when people run these tools manually, they pick up the correct options. This also makes matiance easier if we need to make any changes since we only have to look at one file instead of two.

[2020-11-11 17:49] bdice commented on #418
@mikemhenry I kept everything that I could in `pyproject.toml` or `setup.cfg`. There are some complications involved. Basically every line in `.pre-commit-config.yaml` falls into one of the following categories. I'll also link a few of the issues that I read while working on #415, for context.

**tl;dr:** I don't think there is any action that can be taken to reduce `.pre-commit-config.yaml` or pu

[2020-11-11 17:54] mikemhenry commented on #418
Okay I remember running into this issue when we first added pre-commit hooks, the only one that really stood out was the args for `pyupgrade` but if it is only used as a pre-commit hook, then that settles that!

[2020-11-11 17:54] #418 closed

[2020-11-12 00:34] atravitz commented on #197
I like this suggestion a lot. Is there anything blocking us from making this change now?

[2020-11-12 09:38] csadorf commented on #197
I think what we need is some super basic guidelines for developers on how this folder is to be used. For example, should files related to _flow_ be placed in `.signac/flow/` or can they just go into `.signac/`? What about the "core" files, do they go into the root directory or into `.signac/core/`? So, I'd suggest that we compile all the files that we currently have, make a complete proposal as to

[2020-11-15 02:29] bdice commented on #197
Here's an attempt at compiling and organizing all the project-wide files. Feel free to edit this comment if I missed something and you have privileges to edit on my behalf.

| Path                         | Code/Data | .gitignore? | Suitable for .signac? | Package |
|------------------------------|-----------|-------------|-----------------------|---------|
| .bundles                     | Data

[2020-11-15 04:39] vyasr commented on #197
I won't have time to think more about this for a while, so when I saw this comment I figured I'd add my thoughts now (I also added the signac_statepoints.json file to the table).

While source control is something to consider, and code vs data is an important distinction, I think what determines whether or not something belongs in `.signac` is based on the mission statement of signac: providing or

[2020-11-16 17:21] csadorf commented on #197
I mostly agree with @bdice 's rules and I also agree with @vyasr ' assessment and slight shift in perspective. I also agree that removing the ability to change the workspace would probably make a lot of sense not only in this context, but also in general (this has been proposed and discussed before).

With this I suggest the following addendum to the so far proposed rules:
1. Configuration files w

[2020-11-24 03:49] bdice opened #419 "H5Store support for string arrays"
### Feature description

I am unable to store string arrays in an H5Store. I would like to be able to store and retrieve NumPy `U` typed arrays (Unicode).

Currently this happens:

[code]

h5py explicitly does not support `U` data types: https://docs.h5py.org/en/stable/strings.html#what-about-numpy-s-u-type

### Proposed solution

#### User-space solution:
Handle encoding and decoding of string ar

[2020-11-24 08:26] javierbg opened #423 "Accessing Project from Job"
### Feature description

Sometimes I need to access the `Project` object from a `job`, for example to access the project-wide `data` attribute. Currently, in order to achieve this, a module-wide variable has to be created for the project, but this could span out over several modules and need to load/import the project from each one.

### Proposed solution

Exposing the already present `job._projec

[2020-11-24 09:46] csadorf commented on #423
@javierbg Thank you for reporting! 👍

[2020-11-30 18:23] bdice commented on #423
@javierbg I agree this feature would be useful and we may implement it as you described in signac 2.0. There are some edge cases that could be problematic if we changed this currently, but for most cases `job._project` will provide the project that you want. The project developers have had several discussions in the past about the project/job relationship, not all of which are documented on GitHub

[2020-12-13 19:34] slowglow commented on #214
Hello,

I am here because of this error, which I encountered while doing the tutorial:
"Error: signac cannot create linked views on Windows, because symbolic links are not supported by the platform."
The second part of this error message seems to be factually incorrect. As @bdice pointed when opening this issue, "only administrators have this ability by default". It is possible for non-admin users

[2020-12-13 19:53] bdice commented on #214
@slowglow I’d be happy to review a PR that enables this feature if we are able to test it effectively. Our continuous integration may not have the appropriate privileges. I would be in favor of doing some kind of check that symlinks are supported and running those tests depending on that check.

[2020-12-14 01:06] slowglow commented on #214
@bdice Thank you for your response. I understand about the continuous integration issues and I agree with the proposed approach. I would love to try my hand at submitting a PR, but at this time I am still trying to figure out the basic concepts.
In the meantime, may I suggest that the error message is revised to state that "at this time symbolic links are not supported by signac on the Windows the

[2020-12-14 02:10] bdice commented on #214
@slowglow Updating the message would be fine as an interim solution. If you want help with opening a PR, let us know! I’ll open an issue to track this behavior and document the proposed long term solution.

[2020-12-14 02:11] bdice opened #430 "Improve symlink support on Windows"
@slowglow mentioned in #214:

"Error: signac cannot create linked views on Windows, because symbolic links are not supported by the platform."
The second part of this error message seems to be factually incorrect. As @bdice pointed when opening this issue, "only administrators have this ability by default". It is possible for non-admin users to create symlinks on Windows 10 since at least Dec 2016

[2020-12-14 02:18] bdice commented on #214
@slowglow Feel free to comment on #430 if you'd like to pursue making these changes to documentation and/or behavior. If you'd like, you can also join our Slack community or come to a signac developer meeting / office hours session to discuss this topic or any other questions you have as a new user. See here for info: https://docs.signac.io/en/latest/community.html Thanks again for reaching out!

[2020-12-14 06:36] bdice opened #431 "CI failures from FileExistsError / EEXIST"
### Description

I'm debugging some test failures seen on `master`. These test failures are not reproducible on my machine. I pushed some very minor changes to `master` prior to pull request #428 that should not have affected testing, but that PR is the first place I saw them. These seem to be intermittent failures and I can't reproduce them locally. Both CPython and PyPy are affected. This was th

[2020-12-14 06:54] bdice opened #432 "Deprecate syncutil.copytree"
### Refactor copytree

The file `signac/syncutil.py` defines a function called `copytree`. This is based on the Python 3 implementation of `shutil.copytree`. I think this was implemented as a compatibility layer for Python 2, which didn't accept the same options as in Python 3 (specifically `copyfunction`, which allows users to perform a "move" instead of a "copy", for instance). Now that we suppo

[2020-12-15 13:45] vyasr commented on #430
I agree with your proposed solution and caveats. We need to be able to test effectively and fail gracefully.

[2020-12-17 05:48] shandave commented on #432
@bdice I want to contribute

[2020-12-18 01:35] bdice commented on #432
@shandave I can assign you on this issue, please let us know if you have questions. Thanks!

[2020-12-18 02:15] bdice commented on #431
Resolved by #433.

[2020-12-18 02:15] #431 closed

[2020-12-18 18:49] bdice opened #436 "Adding pre-commit hooks"
We might like to adopt some additional (simple) pre-commit checks from this list:

https://github.com/asottile/scratch/blob/master/.pre-commit-config.yaml

We also might like to use pre-commit’s auto-updater service (in beta).

[2020-12-21 23:34] vyasr commented on #436
If you're interested in available hooks, there's also the [official list of supported hooks](https://pre-commit.com/hooks.html)

[2020-12-24 18:40] vyasr commented on #249
There are a couple of points that I'd like some discussion on. @glotzerlab/signac-committers I'd appreciate any feedback you have on these.

### Pickle/Copy/Deepcopy semantics

#### Shallow copy

Shallow copies are straightforward, since all attributes are copied by reference.

#### Deep copying

Currently, some `SyncedCollection` types support deepcopying, while others do not. The primary distinc

[2020-12-29 20:24] bdice commented on #249
### Deep copying
I don't see the issue here. In my understanding, a deep copy simply means that nested containers in the deep copy aren't references to the original container's values, but are separate objects in memory. Unless there's some pattern I'm unaware of that is producing a "singleton pattern per filename", there should be no semantic confusion over what a deep copy should mean. Shallow c

[2020-12-29 20:31] bdice commented on #249
### State point cache
In the current implementation of #239, the state point cache in a signac `Project` is purely a lookup table that maps from id to state point. This can't be invalidated, and it is not used as a way to test if a state point or id is valid on disk. In particular, `job.reset_statepoint(data)` and `job.remove()` cannot invalidate the data in `Project._sp_cache`. The "extra" keys b

[2020-12-29 21:24] cbkerr opened #452 "Use intersphinx in documentation"
### Problem description
All external links use hardcoded links, as [pointed out](https://github.com/glotzerlab/signac/pull/444#discussion_r549435403) in #444. Some examples are in contrib/job.py and contrib/project.py

### Proposed solution
Switch to intersphinx.

For some pointers, see https://github.com/glotzerlab/signac-docs/wiki/How-to-cross-reference-links-between-package-docs-and-signac-docs

[2020-12-29 22:32] vyasr commented on #249
@bdice not really, aside from the minor oddities of copying an object that's already nested: ``d_a = deepcopy(d1['a'])`` also results in a copy of the object's parent, even though the object shouldn't really own its parent (i.e. you have ``d1 == d_a._parent`` and ``d1 is not d_a._parent``). Depending on the level of nesting and size you can end up accidentally copying something large while trying

[2020-12-29 22:58] vyasr commented on #249
Yes, I'm familiar with that discussion and the design decisions involved in the current cache, and I agree that the statepoint cache can contain extra jobs that have since been (re)moved, but my understanding was that these statements were no longer true once you started implementing lazy loading. Have you managed to rewrite your implementation so that you no longer have these problems? Or are you

[2020-12-30 02:08] vyasr opened #454 "Improving buffering of SyncedCollections"
I've been aware of this issue for a while, but I haven't had a chance to benchmark it until working on #453, so I'm just getting around to documenting. While the examples below are for the JSONDict class in master, I only plan to implement any future changes in the new SyncedCollection classes since those are nearing completion.

Currently, while our buffering strategy substantially improves perfo

[2020-12-30 18:43] #238 closed

[2020-12-31 19:27] bdice commented on #454
**Buffering strategy:** I agree that your benchmark of executing many small edits to a single document should be faster using the document-specific buffer. However, in my understanding, the use case for buffering in signac-flow is iterating over thousands of state points in multiple loops, and attempting to avoid re-loading. I might see the benefit if we used this approach for a project document w

[2020-12-31 19:47] bdice commented on #249
In both lazy loading and the previous implementation, the project would check its own `_sp_cache` when attempting to open a job by id, and additionally provide the state point information (thereby avoiding disk access). The only new feature in lazy loading is that jobs won't automatically load their state point data when initialized, and wait until the user accesses the `job.statepoint` property o

[2020-12-31 20:41] cbkerr commented on #249
Along the way to reviewing #453, I&rsquo;m reading through more conceptual discussions to try to understand `SyncedCollection`. I like @csadorf&rsquo;s idea that refactoring should be in the service of new features for users, and I&rsquo;m trying to understand the benefits of these changes to them.

I see in `signac/core/synced_collections/__init__.py` the note that all of this is transparent to u

[2020-12-31 23:43] cbkerr commented on #360
After enough time away to have fresh eyes on this, I can agree on the groupings more aligned with my option 1. I still don&rsquo;t like how imbalanced it is, so I&rsquo;ve moved to categories that better fit them.

I&rsquo;ve also tried to rearrange the commands *within* each category based on frequency of use and create logical progression with similar commands nearer each other (like `statepoint

[2021-01-01 01:41] vyasr commented on #249
@cbkerr take a deep breath, because there's a lot to unpack here :) "The answer may be that I would be equally confused about the current implementations involving _SyncedDict, SyncedAttrDict and JSONDict and that SyncedCollection would make all of this less confusing." I think this sentence is probably pretty representative of how most signac users and developers (including most of the committer

[2021-01-01 02:39] vyasr commented on #454
On the branch `feature/synced_collections/memory_buffering` I've implemented a relatively simple solution that actually avoids some limitations that I previously foresaw. It doesn't have issue (1) and can keep multiple instances pointing to the same file in sync. It doesn't currently have any concept of a max buffer size, but it would be quite simple to implement something that _approximates_ this

[2021-01-04 19:58] cbkerr commented on #197
@vyasr :

@csadorf

This issue is the only place that I could find discussion of this topic, but I want to argue for maintaining the ability to configure the name of the workspace directory.

I personally haved used the ability to rename workspace directory to increase the readability of the data. I was prototyping a genetic algorithm managed with signac (only `run` locally so far), and I used nes

[2021-01-04 20:21] vyasr commented on #197
That's a valid argument for allowing configuration of the variable. I still think that the benefits of a standardized schema may outweigh this, since then it doesn't rely on user documentation at all. It would also allow us to specify a much more explicit data model in a way that would allow us to change the data layout much more easily in the future, which would be very valuable for some of the g

[2021-01-05 23:54] vyasr opened #465 "Use custom context managers rather than contextlib"
Noted by @bdice in [this comment](https://github.com/glotzerlab/signac/pull/463/files#r552232801) #463, contextlib's contextmanagers have a lot of overhead. We should benchmark these in SyncedCollections since we use many of them and if appropriate, write our own simpler context managers to improve performance.

[2021-01-06 02:54] vyasr commented on #454
Closed in #462 .

[2021-01-06 02:54] #454 closed

[2021-01-06 03:03] vyasr commented on #374
This issue is addressed in #464. I basically did what @mikemhenry suggested by adding extra Docker images that provide Redis/MongoDB support. Those images are enabled on the Linux machines, but not Mac, Windows, or PyPy, so @bdice's request to test both with and without those dependencies is satisfied. We're not testing the full matrix of possibilities, but I'm comfortable with this level of cover